#### Sobre o Conjunto de Dados
Este é um conjunto de dados público de pedidos do e-commerce brasileiro feitos na loja Olist. O conjunto de dados contém informações de 100 mil pedidos de 2016 a 2018 feitos em diversos marketplaces no Brasil.
Esses são dados comerciais reais, que foram anonimizados, e as referências às empresas e parceiros nos textos de avaliação foram substituídas pelos nomes das grandes casas de Game of Thrones.


#### Contexto
Este conjunto de dados foi generosamente fornecido pela Olist, a maior loja de departamentos dos marketplaces brasileiros. A Olist conecta pequenos negócios de todo o Brasil a canais de vendas, sem complicações e com um único contrato. Esses comerciantes conseguem vender seus produtos através da Olist Store e enviá-los diretamente aos clientes utilizando os parceiros logísticos da Olist. 

Após o cliente comprar um produto na Olist Store, o vendedor é notificado para atender a esse pedido. Uma vez que o cliente recebe o produto, ou que a data estimada de entrega expire, o cliente recebe uma pesquisa de satisfação por e-mail, onde pode dar uma nota para a experiência de compra e escrever alguns comentários.

<img src='https://i.imgur.com/HRhd2Y0.png' height=400px/>

In [17]:
import polars as pl
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute '_pandas_parser_CAPI' (most likely due to a circular import)

#### Informações adcionais
----------

##### Conjunto de Dados de Clientes(olist_customer)
> Este conjunto de dados contém informações sobre o cliente e sua localização. Utilize-o para identificar clientes únicos no conjunto de dados de pedidos e para encontrar a localização de entrega dos pedidos.
>
> Em nosso sistema, cada pedido é atribuído a um customer_id exclusivo. Isso significa que o mesmo cliente terá diferentes ids para pedidos distintos. O propósito de ter um customer_unique_id no conjunto de dados é permitir que você identifique clientes que fizeram novas compras na loja. Caso contrário, você descobriria que cada pedido estaria associado a um cliente diferente.
--------

##### Conjunto de Dados de Geolocalização (geolocation)
> Este conjunto de dados contém informações sobre os códigos postais brasileiros e suas coordenadas de latitude/longitude. Utilize-o para plotar mapas e calcular distâncias entre vendedores e clientes

--------

##### Conjunto de Dados de Itens de Pedidos (order_items)
> Este conjunto de dados inclui informações sobre os itens comprados em cada pedido.

> Exemplo:
> O order_id = 00143d0f86d6fbd9f9b38ab440ac16f5 possui 3 itens (mesmo produto). Cada item tem o frete calculado de acordo com suas medidas e peso. Para obter o valor total do frete de cada pedido, basta somar.


-------
##### Payments Dataset
> This dataset includes data about the orders payment options.

-------
##### Conjunto de Dados de Avaliações de Pedidos (reviews dataset) 
> Este conjunto de dados inclui informações sobre as avaliações feitas pelos clientes.
> Após o cliente comprar um produto na Olist Store, o vendedor é notificado para atender a esse pedido. Quando o cliente recebe o produto, ou quando a data estimada de entrega se expira, o cliente recebe uma pesquisa de satisfação por e-mail, onde pode dar uma nota para a experiência de compra e escrever alguns comentários.

&nbsp;

### Limpeza de dados

#### Limpeza para os Dados de Clientes(olist_customer)

In [3]:
customer = pl.read_csv(
    source='dataset/olist_customers_dataset.csv', infer_schema=False
)

In [ ]:
customer.head(2)

shape: (2, 5)
┌────────────────────┬────────────────────┬───────────────────┬───────────────────┬────────────────┐
│ customer_id        ┆ customer_unique_id ┆ customer_zip_code ┆ customer_city     ┆ customer_state │
│ ---                ┆ ---                ┆ _prefix           ┆ ---               ┆ ---            │
│ str                ┆ str                ┆ ---               ┆ str               ┆ str            │
│                    ┆                    ┆ str               ┆                   ┆                │
╞════════════════════╪════════════════════╪═══════════════════╪═══════════════════╪════════════════╡
│ 06b8999e2fba1a1fbc ┆ 861eff4711a542e4b9 ┆ 14409             ┆ franca            ┆ SP             │
│ 88172c00ba8b…      ┆ 3843c6dd7feb…      ┆                   ┆                   ┆                │
│ 18955e83d337fd6b2d ┆ 290c77bc529b7ac935 ┆ 09790             ┆ sao bernardo do   ┆ SP             │
│ ef6b18a428ac…      ┆ b93aa66c333d…      ┆                   ┆ campo             ┆                │
└────────────────────┴────────────────────┴───────────────────┴───────────────────┴────────────────┘

In [5]:
customer.shape

(99441, 5)

Verificando a quantidade de valores únicos de cada coluna

In [ ]:
pd.DataFrame({
    col : customer.select(pl.col(col)).n_unique() \
    for col in customer.columns
}, index=['Quantidade de valores únicos']).T

                          Quantidade de valores únicos
customer_id                                      99441
customer_unique_id                               96096
customer_zip_code_prefix                         14994
customer_city                                     4119
customer_state                                      27

> `customer_id` é uma chave primaria
>
> `customer_zip_code_prefix` é uma chave estrangeira

Chave primaria e chave estrangeira não necessitam de tratamento, somente, se houver valores nulos nesse conj. dados. Mais abaixo irei verificar a quantidade de valores nulos por colunas

In [7]:
customer.select(pl.col('customer_id').null_count()).item()

0

In [ ]:
customer\
    .null_count()\
    .transpose(
        include_header=True,
        header_name   ='colunas',
        column_names  =['Quantidade de valores nulos']
).to_pandas()

                    colunas  Quantidade de valores nulos
0               customer_id                            0
1        customer_unique_id                            0
2  customer_zip_code_prefix                            0
3             customer_city                            0
4            customer_state                            0

> Não há valores nulos nas colunas acima

fazendo uma analise nas colunas `customer_city` e `customer_state`

In [9]:
customer.select(pl.col('customer_city')).head(3)

shape: (3, 1)
┌───────────────────────┐
│ customer_city         │
│ ---                   │
│ str                   │
╞═══════════════════════╡
│ franca                │
│ sao bernardo do campo │
│ sao paulo             │
└───────────────────────┘

> vou deixar no formato de titulo o texto para melhor visualização para futura analises

In [10]:
customer = customer.with_columns(
    pl.col('customer_city').cast(pl.String).str.to_titlecase()
)

In [11]:
customer.select(pl.col('customer_city')).head(10)

shape: (10, 1)
┌───────────────────────┐
│ customer_city         │
│ ---                   │
│ str                   │
╞═══════════════════════╡
│ Franca                │
│ Sao Bernardo Do Campo │
│ Sao Paulo             │
│ Mogi Das Cruzes       │
│ Campinas              │
│ Jaragua Do Sul        │
│ Sao Paulo             │
│ Timoteo               │
│ Curitiba              │
│ Belo Horizonte        │
└───────────────────────┘

In [12]:
# Escrevendo dados
customer.write_csv(file='dataset_limpo_para_analise/olist_customers.csv')

&nbsp;

#### Limpeza para os Dados de Clientes(olist_customer)

In [ ]:
order = pl.read_csv('dataset/olist_orders_dataset.csv', infer_schema=False)
order.head(3)

shape: (3, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ order_id   ┆ customer_i ┆ order_stat ┆ order_pur ┆ order_app ┆ order_del ┆ order_del ┆ order_est │
│ ---        ┆ d          ┆ us         ┆ chase_tim ┆ roved_at  ┆ ivered_ca ┆ ivered_cu ┆ imated_de │
│ str        ┆ ---        ┆ ---        ┆ estamp    ┆ ---       ┆ rrier_dat ┆ stomer_da ┆ livery_da │
│            ┆ str        ┆ str        ┆ ---       ┆ str       ┆ e         ┆ te        ┆ te        │
│            ┆            ┆            ┆ str       ┆           ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆            ┆           ┆           ┆ str       ┆ str       ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ e481f51cbd ┆ 9ef432eb62 ┆ delivered  ┆ 2017-10-0 ┆ 2017-10-0 ┆ 2017-10-0 ┆ 2017-10-1 ┆ 2017-10-1 │
│ c54678b7cc ┆ 51297304e7 ┆            ┆ 2         ┆ 2         ┆ 4         ┆ 0         ┆ 8         │
│ 49136f2d6a ┆ 6186b10a92 ┆            ┆ 10:56:33  ┆ 11:07:15  ┆ 19:55:00  ┆ 21:25:13  ┆ 00:00:00  │
│ …          ┆ …          ┆            ┆           ┆           ┆           ┆           ┆           │
│ 53cdb2fc8b ┆ b0830fb474 ┆ delivered  ┆ 2018-07-2 ┆ 2018-07-2 ┆ 2018-07-2 ┆ 2018-08-0 ┆ 2018-08-1 │
│ c7dce0b674 ┆ 7a6c6d20de ┆            ┆ 4         ┆ 6         ┆ 6         ┆ 7         ┆ 3         │
│ 1e21502734 ┆ a0b8c802d7 ┆            ┆ 20:41:37  ┆ 03:24:27  ┆ 14:31:00  ┆ 15:27:45  ┆ 00:00:00  │
│ …          ┆ …          ┆            ┆           ┆           ┆           ┆           ┆           │
│ 47770eb910 ┆ 41ce2a54c0 ┆ delivered  ┆ 2018-08-0 ┆ 2018-08-0 ┆ 2018-08-0 ┆ 2018-08-1 ┆ 2018-09-0 │
│ 0c2d0c4494 ┆ b03bf3443c ┆            ┆ 8         ┆ 8         ┆ 8         ┆ 7         ┆ 4         │
│ 6d9cf07ec6 ┆ 3d931a3670 ┆            ┆ 08:38:49  ┆ 08:55:23  ┆ 13:50:00  ┆ 18:06:29  ┆ 00:00:00  │
│ …          ┆ …          ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [ ]:
order['order_status'].unique()

shape: (8,)
Series: 'order_status' [str]
[
	"unavailable"
	"delivered"
	"canceled"
	"processing"
	"created"
	"invoiced"
	"approved"
	"shipped"
]

In [4]:
status_map = {
    "delivered": "entregue",
    "invoiced": "faturado",
    "shipped": "enviado",
    "created": "criado",
    "approved": "aprovado",
    "processing": "processando",
    'canceled' :'cancelado',
    'unavailable': 'indisponível'
}

In [5]:
order = order.with_columns(
    pl.col("order_status").replace(status_map)
)

In [6]:
order['order_status'].unique()

shape: (8,)
Series: 'order_status' [str]
[
	"indisponível"
	"entregue"
	"enviado"
	"processando"
	"criado"
	"cancelado"
	"faturado"
	"aprovado"
]

- "enviado", 'entrege','aprovado, 'entregue', 'faturado' = 'ok'
- 'cancelado', 'indisponivel' = no
- 'processado'  = 'em processo'

In [ ]:
ok = ['enviado', 'entrege','aprovado', 'entregue', 'faturado']
no = ['cancelado', 'indisponível']
in_ = ['processando']

order.with_columns(
    status_ = pl.when(pl.col('order_status').is_in(ok))\
                .then(pl.lit('ok'))\
                .when(pl.col('order_status').is_in(no))\
                .then(pl.lit('no'))
                .otherwise(pl.lit('in_'))
)

shape: (99_441, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬─────────┐
│ order_id   ┆ customer_ ┆ order_sta ┆ order_pur ┆ … ┆ order_del ┆ order_del ┆ order_est ┆ status_ │
│ ---        ┆ id        ┆ tus       ┆ chase_tim ┆   ┆ ivered_ca ┆ ivered_cu ┆ imated_de ┆ ---     │
│ str        ┆ ---       ┆ ---       ┆ estamp    ┆   ┆ rrier_dat ┆ stomer_da ┆ livery_da ┆ str     │
│            ┆ str       ┆ str       ┆ ---       ┆   ┆ e         ┆ te        ┆ te        ┆         │
│            ┆           ┆           ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆         │
│            ┆           ┆           ┆           ┆   ┆ str       ┆ str       ┆ str       ┆         │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═════════╡
│ e481f51cbd ┆ 9ef432eb6 ┆ entregue  ┆ 2017-10-0 ┆ … ┆ 2017-10-0 ┆ 2017-10-1 ┆ 2017-10-1 ┆ ok      │
│ c54678b7cc ┆ 251297304 ┆           ┆ 2         ┆   ┆ 4         ┆ 0         ┆ 8         ┆         │
│ 49136f2d6a ┆ e76186b10 ┆           ┆ 10:56:33  ┆   ┆ 19:55:00  ┆ 21:25:13  ┆ 00:00:00  ┆         │
│ …          ┆ a92…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 53cdb2fc8b ┆ b0830fb47 ┆ entregue  ┆ 2018-07-2 ┆ … ┆ 2018-07-2 ┆ 2018-08-0 ┆ 2018-08-1 ┆ ok      │
│ c7dce0b674 ┆ 47a6c6d20 ┆           ┆ 4         ┆   ┆ 6         ┆ 7         ┆ 3         ┆         │
│ 1e21502734 ┆ dea0b8c80 ┆           ┆ 20:41:37  ┆   ┆ 14:31:00  ┆ 15:27:45  ┆ 00:00:00  ┆         │
│ …          ┆ 2d7…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 47770eb910 ┆ 41ce2a54c ┆ entregue  ┆ 2018-08-0 ┆ … ┆ 2018-08-0 ┆ 2018-08-1 ┆ 2018-09-0 ┆ ok      │
│ 0c2d0c4494 ┆ 0b03bf344 ┆           ┆ 8         ┆   ┆ 8         ┆ 7         ┆ 4         ┆         │
│ 6d9cf07ec6 ┆ 3c3d931a3 ┆           ┆ 08:38:49  ┆   ┆ 13:50:00  ┆ 18:06:29  ┆ 00:00:00  ┆         │
│ …          ┆ 670…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 949d5b44db ┆ f88197465 ┆ entregue  ┆ 2017-11-1 ┆ … ┆ 2017-11-2 ┆ 2017-12-0 ┆ 2017-12-1 ┆ ok      │
│ f5de918fe9 ┆ ea7920adc ┆           ┆ 8         ┆   ┆ 2         ┆ 2         ┆ 5         ┆         │
│ c16f97b45f ┆ dbec73753 ┆           ┆ 19:28:06  ┆   ┆ 13:39:59  ┆ 00:28:42  ┆ 00:00:00  ┆         │
│ …          ┆ 64d…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ ad21c59c08 ┆ 8ab97904e ┆ entregue  ┆ 2018-02-1 ┆ … ┆ 2018-02-1 ┆ 2018-02-1 ┆ 2018-02-2 ┆ ok      │
│ 40e6cb83a9 ┆ 6daea8866 ┆           ┆ 3         ┆   ┆ 4         ┆ 6         ┆ 6         ┆         │
│ ceb5573f81 ┆ dbdbc4fb7 ┆           ┆ 21:18:39  ┆   ┆ 19:46:34  ┆ 18:17:02  ┆ 00:00:00  ┆         │
│ …          ┆ aad…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ …          ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …       │
│ 9c5dedf39a ┆ 39bd1228e ┆ entregue  ┆ 2017-03-0 ┆ … ┆ 2017-03-1 ┆ 2017-03-1 ┆ 2017-03-2 ┆ ok      │
│ 927c1b2549 ┆ e8140590a ┆           ┆ 9         ┆   ┆ 0         ┆ 7         ┆ 8         ┆         │
│ 525ed64a05 ┆ c3aca26f2 ┆           ┆ 09:54:05  ┆   ┆ 11:18:03  ┆ 15:08:01  ┆ 00:00:00  ┆         │
│ …          ┆ dfe…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 63943bddc2 ┆ 1fca14ff2 ┆ entregue  ┆ 2018-02-0 ┆ … ┆ 2018-02-0 ┆ 2018-02-2 ┆ 2018-03-0 ┆ ok      │
│ 61676b46f0 ┆ 861355f6e ┆           ┆ 6         ┆   ┆ 7         ┆ 8         ┆ 2         ┆         │
│ 1ca7ac2f7b ┆ 5f14306ff ┆           ┆ 12:58:58  ┆   ┆ 23:22:42  ┆ 17:37:56  ┆ 00:00:00  ┆         │
│ …          ┆ 977…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 83c1379a01 ┆ 1aa71eb04 ┆ entregue  ┆ 2017-08-2 ┆ … ┆ 2017-08-2 ┆ 2017-09-2 ┆ 2017-09-2 ┆ ok      │
│ 5df1e13d02 ┆ 2121263aa ┆           ┆ 7         ┆   ┆ 8         ┆ 1         ┆ 7         ┆         │
│ aae0204711 ┆ fbe80c1b5 ┆           ┆ 14:46:43  ┆   ┆ 20:52:26  ┆ 11:24:17  ┆ 00:00:00  ┆         │
│ …          ┆ 62c…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 11c177c8e9 ┆ b331b74b1 ┆ entregue  ┆ 2018-01-0 ┆ … ┆ 2018-01-1 ┆ 2018-01-2 ┆ 2018-02-1 ┆ ok      │
│ 7725db2631 ┆ 8dc79bcdf ┆           ┆ 8         ┆   ┆ 2         ┆ 5         ┆ 5         ┆         │
│ 073c19f07b ┆ 6532d51e1 ┆           ┆ 21:28:27  ┆   ┆ 15:35:03  ┆ 23:32:54  ┆ 00:00:00  ┆         │
│ …          ┆ 637…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
│ 66dea50a8b ┆ edb027a75 ┆ entregue  ┆ 2018-03-0 ┆ … ┆ 2018-03-0 ┆ 2018-03-1 ┆ 2018-04-0 ┆ ok      │
│ 16d9b4dee7 ┆ a1449115f ┆           ┆ 8         ┆   ┆ 9         ┆ 6         ┆ 3         ┆         │
│ af250b4be1 ┆ 6b43211ae ┆           ┆ 20:57:30  ┆   ┆ 22:11:59  ┆ 13:08:30  ┆ 00:00:00  ┆         │
│ …          ┆ 02a…      ┆           ┆           ┆   ┆           ┆           ┆           ┆         │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴─────────┘

In [16]:
order\
    .null_count()\
    .transpose(
        include_header=True,
        header_name   ='colunas',
        column_names  =['Quantidade de valores nulos']
)

shape: (8, 2)
┌───────────────────────────────┬─────────────────────────────┐
│ colunas                       ┆ Quantidade de valores nulos │
│ ---                           ┆ ---                         │
│ str                           ┆ u32                         │
╞═══════════════════════════════╪═════════════════════════════╡
│ order_id                      ┆ 0                           │
│ customer_id                   ┆ 0                           │
│ order_status                  ┆ 0                           │
│ order_purchase_timestamp      ┆ 0                           │
│ order_approved_at             ┆ 160                         │
│ order_delivered_carrier_date  ┆ 1783                        │
│ order_delivered_customer_date ┆ 2965                        │
│ order_estimated_delivery_date ┆ 0                           │
└───────────────────────────────┴─────────────────────────────┘

> Os valores nan serão removidas

In [19]:
order = order.to_pandas()

In [75]:
order.write_csv(
    'dataset_limpo_para_analise\\olist_order.csv'
)

#### limpeza para Itens de Pedidos (order_items)

In [14]:
pedidos = pl.read_csv(
    source='dataset/olist_order_items_dataset.csv',
    infer_schema=False
    )

In [15]:
pedidos.columns

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value']

In [16]:
pedidos.head(3)

shape: (3, 7)
┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬────────┬──────────────┐
│ order_id     ┆ order_item_i ┆ product_id   ┆ seller_id    ┆ shipping_lim ┆ price  ┆ freight_valu │
│ ---          ┆ d            ┆ ---          ┆ ---          ┆ it_date      ┆ ---    ┆ e            │
│ str          ┆ ---          ┆ str          ┆ str          ┆ ---          ┆ str    ┆ ---          │
│              ┆ str          ┆              ┆              ┆ str          ┆        ┆ str          │
╞══════════════╪══════════════╪══════════════╪══════════════╪══════════════╪════════╪══════════════╡
│ 00010242fe8c ┆ 1            ┆ 4244733e06e7 ┆ 48436dade18a ┆ 2017-09-19   ┆ 58.90  ┆ 13.29        │
│ 5a6d1ba2dd79 ┆              ┆ ecb4970a6e26 ┆ c8b2bce089ec ┆ 09:45:35     ┆        ┆              │
│ 2cb162…      ┆              ┆ 83c13e…      ┆ 2a0412…      ┆              ┆        ┆              │
│ 00018f77f2f0 ┆ 1            ┆ e5f2d52b8021 ┆ dd7ddc04e1b6 ┆ 2017-05-03   ┆ 239.90 ┆ 19.93        │
│ 320c557190d7 ┆              ┆ 89ee658865ca ┆ c2c614352b38 ┆ 11:05:13     ┆        ┆              │
│ a144bd…      ┆              ┆ 93d83a…      ┆ 3efe2d…      ┆              ┆        ┆              │
│ 000229ec3982 ┆ 1            ┆ c777355d18b7 ┆ 5b51032eddd2 ┆ 2018-01-18   ┆ 199.00 ┆ 17.87        │
│ 24ef6ca0657d ┆              ┆ 2b67abbeef9d ┆ 42adc84c38ac ┆ 14:48:30     ┆        ┆              │
│ a4fc70…      ┆              ┆ f44fd0…      ┆ ab88f2…      ┆              ┆        ┆              │
└──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴────────┴──────────────┘

In [17]:
pedidos\
    .select(pl.all().n_unique())\
    .transpose(
        include_header=True,
        header_name='colunas',
        column_names=['Valores Únicos']
    )

shape: (7, 2)
┌─────────────────────┬────────────────┐
│ colunas             ┆ Valores Únicos │
│ ---                 ┆ ---            │
│ str                 ┆ u32            │
╞═════════════════════╪════════════════╡
│ order_id            ┆ 98666          │
│ order_item_id       ┆ 21             │
│ product_id          ┆ 32951          │
│ seller_id           ┆ 3095           │
│ shipping_limit_date ┆ 93318          │
│ price               ┆ 5968           │
│ freight_value       ┆ 6999           │
└─────────────────────┴────────────────┘

In [18]:
pedidos.select(
    pl.all().null_count()
).transpose(
    include_header=True,
    header_name ='colunas',
    column_names=['Quantidade de valores nulos']
)

shape: (7, 2)
┌─────────────────────┬─────────────────────────────┐
│ colunas             ┆ Quantidade de valores nulos │
│ ---                 ┆ ---                         │
│ str                 ┆ u32                         │
╞═════════════════════╪═════════════════════════════╡
│ order_id            ┆ 0                           │
│ order_item_id       ┆ 0                           │
│ product_id          ┆ 0                           │
│ seller_id           ┆ 0                           │
│ shipping_limit_date ┆ 0                           │
│ price               ┆ 0                           │
│ freight_value       ┆ 0                           │
└─────────────────────┴─────────────────────────────┘

> Não há valores nulos nesse conjunto de dados

Conventendo valores numericos que estão no formato string, e conventendo para o padrão brasileiro a data

In [19]:
pedidos = pedidos.with_columns(
        pl.col('shipping_limit_date')\
            .str.strptime(pl.Datetime(time_zone='UTC'))\
            .dt.strftime(format="%d-%m-%Y %H:%M:%S"), # Convertendo data

        pl.col('price').str.to_decimal(),         # Convertendo para float
        pl.col('freight_value').str.to_decimal(), # Convertendo para float
    )

In [20]:
pedidos.dtypes

[String,
 String,
 String,
 String,
 String,
 Decimal(precision=None, scale=2),
 Decimal(precision=None, scale=2)]

In [21]:
# Escrevendo dados
pedidos.write_csv(file='dataset_limpo_para_analise/olist_order_items.csv')

&nbsp;

#### limpeza Payments Dataset(olist_payments)

In [22]:
payments = pl.read_csv(
    'dataset/olist_order_payments_dataset.csv',
    infer_schema=False
)

In [23]:
payments.head(2)

shape: (2, 5)
┌───────────────────────┬────────────────────┬──────────────┬──────────────────────┬───────────────┐
│ order_id              ┆ payment_sequential ┆ payment_type ┆ payment_installments ┆ payment_value │
│ ---                   ┆ ---                ┆ ---          ┆ ---                  ┆ ---           │
│ str                   ┆ str                ┆ str          ┆ str                  ┆ str           │
╞═══════════════════════╪════════════════════╪══════════════╪══════════════════════╪═══════════════╡
│ b81ef226f3fe1789b1e8b ┆ 1                  ┆ credit_card  ┆ 8                    ┆ 99.33         │
│ 2acac839d…            ┆                    ┆              ┆                      ┆               │
│ a9810da82917af2d9aefd ┆ 1                  ┆ credit_card  ┆ 1                    ┆ 24.39         │
│ 1278f1dcf…            ┆                    ┆              ┆                      ┆               │
└───────────────────────┴────────────────────┴──────────────┴──────────────────────┴───────────────┘

In [24]:
payments.select(
    pl.all().null_count()
).transpose(
    include_header=True,
    header_name ='colunas',
    column_names=['Quantidade de valores nulos']
)

shape: (5, 2)
┌──────────────────────┬─────────────────────────────┐
│ colunas              ┆ Quantidade de valores nulos │
│ ---                  ┆ ---                         │
│ str                  ┆ u32                         │
╞══════════════════════╪═════════════════════════════╡
│ order_id             ┆ 0                           │
│ payment_sequential   ┆ 0                           │
│ payment_type         ┆ 0                           │
│ payment_installments ┆ 0                           │
│ payment_value        ┆ 0                           │
└──────────────────────┴─────────────────────────────┘

In [25]:
payments\
    .select(pl.all().n_unique())\
    .transpose(
        include_header=True,
        header_name='colunas',
        column_names=['Valores Únicos']
    )

shape: (5, 2)
┌──────────────────────┬────────────────┐
│ colunas              ┆ Valores Únicos │
│ ---                  ┆ ---            │
│ str                  ┆ u32            │
╞══════════════════════╪════════════════╡
│ order_id             ┆ 99440          │
│ payment_sequential   ┆ 29             │
│ payment_type         ┆ 5              │
│ payment_installments ┆ 24             │
│ payment_value        ┆ 29077          │
└──────────────────────┴────────────────┘

In [26]:
payments\
    .select(pl.col('payment_type'))\
    .group_by(by=pl.col('payment_type'))\
    .len()\
    .sort(by=pl.col('len'))

shape: (5, 2)
┌─────────────┬───────┐
│ by          ┆ len   │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ not_defined ┆ 3     │
│ debit_card  ┆ 1529  │
│ voucher     ┆ 5775  │
│ boleto      ┆ 19784 │
│ credit_card ┆ 76795 │
└─────────────┴───────┘

> Não definido será transformando para nada e removido

In [27]:
payments = payments\
    .with_columns(
        pl.when(pl.col('payment_type')=='not_defined')\
          .then(pl.lit(None))\
          .otherwise(pl.col('payment_type')).alias(name='payment_type')
    )

In [28]:
payments.select(
    pl.all().null_count()
).transpose(
    include_header=True,
    header_name ='colunas',
    column_names=['Quantidade de valores nulos']
)

shape: (5, 2)
┌──────────────────────┬─────────────────────────────┐
│ colunas              ┆ Quantidade de valores nulos │
│ ---                  ┆ ---                         │
│ str                  ┆ u32                         │
╞══════════════════════╪═════════════════════════════╡
│ order_id             ┆ 0                           │
│ payment_sequential   ┆ 0                           │
│ payment_type         ┆ 3                           │
│ payment_installments ┆ 0                           │
│ payment_value        ┆ 0                           │
└──────────────────────┴─────────────────────────────┘

In [29]:
payments.head(3)

shape: (3, 5)
┌───────────────────────┬────────────────────┬──────────────┬──────────────────────┬───────────────┐
│ order_id              ┆ payment_sequential ┆ payment_type ┆ payment_installments ┆ payment_value │
│ ---                   ┆ ---                ┆ ---          ┆ ---                  ┆ ---           │
│ str                   ┆ str                ┆ str          ┆ str                  ┆ str           │
╞═══════════════════════╪════════════════════╪══════════════╪══════════════════════╪═══════════════╡
│ b81ef226f3fe1789b1e8b ┆ 1                  ┆ credit_card  ┆ 8                    ┆ 99.33         │
│ 2acac839d…            ┆                    ┆              ┆                      ┆               │
│ a9810da82917af2d9aefd ┆ 1                  ┆ credit_card  ┆ 1                    ┆ 24.39         │
│ 1278f1dcf…            ┆                    ┆              ┆                      ┆               │
│ 25e8ea4e93396b6fa0d3d ┆ 1                  ┆ credit_card  ┆ 1                    ┆ 65.71         │
│ d708e76c1…            ┆                    ┆              ┆                      ┆               │
└───────────────────────┴────────────────────┴──────────────┴──────────────────────┴───────────────┘

In [30]:
payments = payments.with_columns(
    pl.when(pl.col('payment_type') == 'credit_card')\
        .then(pl.lit('Cartão de Crédito'))\
        .when(pl.col('payment_type') == 'boleto')\
        .then(pl.lit('Boleto'))\
        .when(pl.col('payment_type')=='debit_card')\
        .then(pl.lit('Cartão de debito'))\
        .otherwise(pl.col('payment_type'))\
        .alias('payment_type')
)

In [31]:
payments\
    .select(pl.col('payment_type'))\
    .group_by(by=pl.col('payment_type'))\
    .len()\
    .sort(by=pl.col('len'))

shape: (5, 2)
┌───────────────────┬───────┐
│ by                ┆ len   │
│ ---               ┆ ---   │
│ str               ┆ u32   │
╞═══════════════════╪═══════╡
│ null              ┆ 3     │
│ Cartão de debito  ┆ 1529  │
│ voucher           ┆ 5775  │
│ Boleto            ┆ 19784 │
│ Cartão de Crédito ┆ 76795 │
└───────────────────┴───────┘

In [32]:
payments.to_pandas().dropna().to_csv('dataset_limpo_para_analise/olist_order_payments.csv', index=False)

&nbsp;

#### limpeza para Reviews(olist_Reviews)

In [33]:
reviews = pl.read_csv(
    source='dataset/olist_order_reviews_dataset.csv', infer_schema=False
)

In [34]:
reviews\
    .select(
        pl.all().null_count()
        )\
    .transpose(
        include_header=True,
        header_name ='colunas',
        column_names=['Quantidade de valores nulos']
    )

shape: (7, 2)
┌─────────────────────────┬─────────────────────────────┐
│ colunas                 ┆ Quantidade de valores nulos │
│ ---                     ┆ ---                         │
│ str                     ┆ u32                         │
╞═════════════════════════╪═════════════════════════════╡
│ review_id               ┆ 0                           │
│ order_id                ┆ 0                           │
│ review_score            ┆ 0                           │
│ review_comment_title    ┆ 87656                       │
│ review_comment_message  ┆ 58247                       │
│ review_creation_date    ┆ 0                           │
│ review_answer_timestamp ┆ 0                           │
└─────────────────────────┴─────────────────────────────┘

In [35]:
reviews.columns

['review_id',
 'order_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp']

In [36]:
reviews = reviews.with_columns(
    pl.col('review_comment_title').fill_null("Não colocou titulo")
)

In [37]:
reviews = reviews.with_columns(
    pl.col('review_comment_message').fill_null("Não comentou")
)

In [38]:
reviews\
    .select(
        pl.all().null_count()
        )\
    .transpose(
        include_header=True,
        header_name ='colunas',
        column_names=['Quantidade de valores nulos']
    )

shape: (7, 2)
┌─────────────────────────┬─────────────────────────────┐
│ colunas                 ┆ Quantidade de valores nulos │
│ ---                     ┆ ---                         │
│ str                     ┆ u32                         │
╞═════════════════════════╪═════════════════════════════╡
│ review_id               ┆ 0                           │
│ order_id                ┆ 0                           │
│ review_score            ┆ 0                           │
│ review_comment_title    ┆ 0                           │
│ review_comment_message  ┆ 0                           │
│ review_creation_date    ┆ 0                           │
│ review_answer_timestamp ┆ 0                           │
└─────────────────────────┴─────────────────────────────┘

In [39]:
reviews.write_csv("dataset_limpo_para_analise/olist_order_review.csv")

&nbsp;

#### Limpeza para sellers(olist_sellers)

In [40]:
sellers = pl.read_csv(
    "dataset/olist_sellers_dataset.csv", infer_schema=False
)
sellers.head(2)

shape: (2, 4)
┌─────────────────────────────────┬────────────────────────┬─────────────┬──────────────┐
│ seller_id                       ┆ seller_zip_code_prefix ┆ seller_city ┆ seller_state │
│ ---                             ┆ ---                    ┆ ---         ┆ ---          │
│ str                             ┆ str                    ┆ str         ┆ str          │
╞═════════════════════════════════╪════════════════════════╪═════════════╪══════════════╡
│ 3442f8959a84dea7ee197c632cb2df… ┆ 13023                  ┆ campinas    ┆ SP           │
│ d1b65fc7debc3361ea86b5f14c68d2… ┆ 13844                  ┆ mogi guacu  ┆ SP           │
└─────────────────────────────────┴────────────────────────┴─────────────┴──────────────┘

In [41]:
sellers.select(
    pl.all().null_count()
).transpose(include_header=True, 
            header_name="Colunas", 
            column_names=["Quantidade de valores nulos"])

shape: (4, 2)
┌────────────────────────┬─────────────────────────────┐
│ Colunas                ┆ Quantidade de valores nulos │
│ ---                    ┆ ---                         │
│ str                    ┆ u32                         │
╞════════════════════════╪═════════════════════════════╡
│ seller_id              ┆ 0                           │
│ seller_zip_code_prefix ┆ 0                           │
│ seller_city            ┆ 0                           │
│ seller_state           ┆ 0                           │
└────────────────────────┴─────────────────────────────┘

> Não há valores nulos no conjunto de dos

In [42]:
# Modificando o nome das cidades para o tipo de titulo
sellers = sellers.with_columns(
    pl.col("seller_city").str.to_titlecase()
)
sellers.head(2)

shape: (2, 4)
┌─────────────────────────────────┬────────────────────────┬─────────────┬──────────────┐
│ seller_id                       ┆ seller_zip_code_prefix ┆ seller_city ┆ seller_state │
│ ---                             ┆ ---                    ┆ ---         ┆ ---          │
│ str                             ┆ str                    ┆ str         ┆ str          │
╞═════════════════════════════════╪════════════════════════╪═════════════╪══════════════╡
│ 3442f8959a84dea7ee197c632cb2df… ┆ 13023                  ┆ Campinas    ┆ SP           │
│ d1b65fc7debc3361ea86b5f14c68d2… ┆ 13844                  ┆ Mogi Guacu  ┆ SP           │
└─────────────────────────────────┴────────────────────────┴─────────────┴──────────────┘

In [43]:
sellers.write_csv(
    "dataset_limpo_para_analise/olist_sellers.csv"
)

&nbsp;

#### limpeza para products(olist_product)

In [44]:
product = pl.read_csv(
    source = "dataset/olist_products_dataset.csv"
)
product.head(2)

shape: (2, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ product_i ┆ product_c ┆ product_n ┆ product_d ┆ … ┆ product_w ┆ product_l ┆ product_h ┆ product_ │
│ d         ┆ ategory_n ┆ ame_lengh ┆ escriptio ┆   ┆ eight_g   ┆ ength_cm  ┆ eight_cm  ┆ width_cm │
│ ---       ┆ ame       ┆ t         ┆ n_lenght  ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ i64       ┆ i64       ┆ i64       ┆ i64      │
│           ┆ str       ┆ i64       ┆ i64       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1e9e8ef04 ┆ perfumari ┆ 40        ┆ 287       ┆ … ┆ 225       ┆ 16        ┆ 10        ┆ 14       │
│ dbcff4541 ┆ a         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ed26657ea ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 517…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 3aa071139 ┆ artes     ┆ 44        ┆ 276       ┆ … ┆ 1000      ┆ 30        ┆ 18        ┆ 20       │
│ cb16b67ca ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 9e5dea641 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ aaa…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [45]:
product.select(
    pl.all().null_count()
).transpose(include_header=True)

shape: (9, 2)
┌────────────────────────────┬──────────┐
│ column                     ┆ column_0 │
│ ---                        ┆ ---      │
│ str                        ┆ u32      │
╞════════════════════════════╪══════════╡
│ product_id                 ┆ 0        │
│ product_category_name      ┆ 610      │
│ product_name_lenght        ┆ 610      │
│ product_description_lenght ┆ 610      │
│ product_photos_qty         ┆ 610      │
│ product_weight_g           ┆ 2        │
│ product_length_cm          ┆ 2        │
│ product_height_cm          ┆ 2        │
│ product_width_cm           ┆ 2        │
└────────────────────────────┴──────────┘

In [46]:
product_name = pl.read_csv(
    source = "dataset/product_category_name_translation.csv"
)
product_name.head(2)

shape: (2, 2)
┌────────────────────────┬───────────────────────────────┐
│ product_category_name  ┆ product_category_name_english │
│ ---                    ┆ ---                           │
│ str                    ┆ str                           │
╞════════════════════════╪═══════════════════════════════╡
│ beleza_saude           ┆ health_beauty                 │
│ informatica_acessorios ┆ computers_accessories         │
└────────────────────────┴───────────────────────────────┘

In [47]:
product_name = product_name.with_columns(
    pl.col("product_category_name")\
        .str.replace_all('_',' ')\
        .str.to_titlecase()
)

In [48]:
product_name.write_csv(
    "dataset_limpo_para_analise/olist_products_name.csv" 
)

####

#### limpeza para location(olist_geolocatoin)

In [49]:
geolocation = pl.read_csv(
    source = "dataset/olist_geolocation_dataset.csv",
    infer_schema=False
)

In [50]:
geolocation['geolocation_city'].unique().to_numpy().tolist()

['santa barbara do leste',
 'lauro de freitas',
 'mariapolis',
 'brejinho de nazare',
 'brasopolis',
 'santa cruz do xingu',
 'piloezinhos',
 'araçoiaba',
 'tangará da serra',
 'baixa grande do ribeiro',
 'itaipulândia',
 'campinas do piauí',
 'taubate',
 'sao jose do campestre',
 'águas vermelhas',
 'sucupira do norte',
 'são raimundo das mangabeiras',
 'sao sebastiao do uatuma',
 'sao jose do ivai',
 'canarana',
 'guaruja do sul',
 'registro',
 'guapirama',
 'rio do prado',
 'cambira',
 'são miguel do passa quatro',
 'contendas do sincora',
 'canapi',
 'miguel alves',
 'amatura',
 'sete de setembro',
 'rurópolis',
 'paranapoema',
 'braganca paulista',
 'dom inocencio',
 'banabuiu',
 'palmeiras de goiás',
 'juvenilia',
 'orizânia',
 'nova esperanca do piria',
 'sao francisco da praia',
 'conceição do coité',
 'avai',
 'sinop',
 'pereiras',
 'passagem dos teixeiras',
 'joão neiva',
 'baião',
 'vieiras',
 'medeiros',
 'governador dix-sept rosado',
 'franca sp',
 'boqueirão do piauí',
 'manoel emídio',
 'paraiso',
 'normandia',
 'poxoréu',
 'renascença',
 'guarujá do sul',
 'angicos',
 'jaguariuna',
 'santo antonio',
 'ortigueira',
 'veredinha',
 'cristais',
 'marzagao',
 'guaicara',
 'piquet carneiro',
 'quatis',
 'nova santa luzia',
 'aguiarnópolis',
 'barra do ariranha',
 'severínia',
 'icém',
 'sao joaquim do monte',
 'mata roma',
 'parauna',
 'apicum-acu',
 'marilândia do sul',
 'lajedao',
 'santana do piaui',
 'muana',
 'barao de monte alto',
 'turmalina',
 'guarai',
 'mineiros do tietê',
 'gouvelândia',
 'itaguaru',
 'dois irmãos das missões',
 'moreira sales',
 'senador jose bento',
 'são geraldo do araguaia',
 'monte alegre de sergipe',
 'fonseca',
 'manoel ribas',
 'ibiá',
 'barrolândia',
 'ipuiúna',
 'gurinhem',
 'seringueiras',
 'são tiago',
 'cachoeira do arari',
 'itacare',
 'mirador',
 'urupes',
 'avaí',
 'messias',
 'lucrécia',
 'barreira',
 'alianca do tocantins',
 'bequimão',
 'inhacora',
 'igaraí',
 'roberto',
 'arroio do meio',
 'sete quedas',
 'são bernardo do campo',
 'monte do carmo',
 'carnauba dos dantas',
 'santa terezinha do tocantins',
 'guaporanga',
 'porto vitória',
 'paraí',
 'cubatao',
 'jarinu',
 'campo limpo paulista',
 'santa maria de jetiba',
 'godofredo viana',
 'simonesia',
 'dores do indaiá',
 'nova lacerda',
 'congonhas do norte',
 'ipora do oeste',
 'vitória',
 'mirim doce',
 'aguas frias',
 'macedonia',
 'vitorino freire',
 'guaraci',
 'sao joao d alianca',
 'jucas',
 'mantenopolis',
 'japaraíba',
 'joaíma',
 'coremas',
 'barra do rio azul',
 'araçoiaba da serra',
 'sao francisco de assis',
 'agua doce',
 'bertópolis',
 'carvalhos',
 'ourem',
 'manoel urbano',
 'perdizes',
 'umarizal',
 'sao miguel do oeste',
 'coronel macedo',
 'josé raydan',
 'itaú',
 'aiuaba',
 'nova cantu',
 'santana',
 'alto garcas',
 'coari',
 'exu',
 'espirito santo do turvo',
 'santo estêvão',
 'vila nova do piaui',
 'caaporã',
 'união da serra',
 'limoeiro',
 'gramado',
 'quatá',
 'linhares',
 'vau-acu',
 'cosmopolis',
 'diamante do norte',
 'bandeirantes do tocantins',
 'candido de abreu',
 'palmares do sul',
 'portalegre',
 'santa cruz de monte castelo',
 'espinosa',
 'balneário barra do sul',
 'sao francisco de assis do piaui',
 'maristela',
 'canaa',
 'cotegipe',
 'luizlandia do oeste',
 'manhuaçu',
 'rosario do pontal',
 'sao pedro de alcantara',
 'nazario',
 'santo antonio do amparo',
 'sao jose do jacuipe',
 'santa bárbara d`oeste',
 'correntes',
 'santa luzia do cariri',
 'deputado irapuan pinheiro',
 'candido mota',
 'ipupiara',
 'sao luiz',
 'sao joao do manteninha',
 'urucânia',
 'chalé',
 'guia lopes da laguna',
 'serro',
 'nova casa verde',
 'ipê',
 'porteirao',
 'canaa dos carajas',
 'cachoeira de goiás',
 'vila pereira',
 'sao leopoldo',
 'bom principio',
 'alto paraguai',
 'flor da serra do sul',
 'sao jeronimo da serra',
 'mágda',
 'santana do jacare',
 'almirante tamandare do sul',
 'coqueiro baixo',
 'cosmorama',
 'cajamar',
 'lagoa branca',
 'sertão santana',
 'centenário do sul',
 'uniao da serra',
 'balneário piçarras',
 'morro da garca',
 'anapurus',
 'ribeirão do pinhal',
 'são miguel',
 'pirapemas',
 'jequie',
 'aguas de lindoia',
 'altonia',
 'são josé do cedro',
 'antonio dias',
 'porto murtinho',
 'são gabriel',
 'salvador',
 'delfim moreira',
 'adelandia',
 'gabriel monteiro',
 'pompéia',
 'una',
 'bela cruz',
 'palhoça',
 'trindade do sul',
 'rafael fernandes',
 'estrela',
 'luís antônio',
 'maraba paulista',
 'santa rita do ibitipoca',
 'pains',
 'sao geraldo do baixio',
 'fronteira dos vales',
 'coelho neto',
 'lacerdopolis',
 'alvaraes',
 'santana do capivari',
 'cachoeira do campo',
 'santa elvira',
 'figueiropolis',
 'pontes gestal',
 'são joão evangelista',
 'campo ere',
 'carambei',
 'nova america',
 'conceicao dos ouros',
 'iguaí',
 'campo alegre de lourdes, bahia, brasil',
 'jandaíra',
 'mariana',
 'são luís do quitunde',
 'igarape grande',
 'serrolandia',
 'tremedal',
 'guaratinga',
 'brazlandia',
 'jacupiranga',
 'sao goncalo do rio preto',
 'manari',
 'jenipapo de minas',
 'campina da lagoa',
 'nova veneza',
 'timbo',
 'guarizinho',
 'canguaretama',
 'baiao',
 'sao domingos',
 'são roberto',
 'propria',
 'joao dourado',
 'ipiranga do norte',
 'santa cruz do sul',
 'marilia',
 'california da barra',
 'bom sucesso do sul',
 'jambeiro',
 'nipoa',
 'aparecida doeste',
 'teofilandia',
 'nova itaberaba',
 'campo grande',
 'capitao andrade',
 'maripa de minas',
 'niquelandia',
 'fortuna de minas',
 'natuba',
 'luiziania',
 'votorantim',
 'bambui',
 'itatiba',
 'caraguatatuba',
 'sao sebastiao de campos',
 'nova colinas',
 'sao jose do rio claro',
 'jaguaruna',
 'piedade de ponte nova',
 'urucuia',
 'três corações',
 'corumbataí',
 'lizarda',
 'joaquim gomes',
 'pomerode',
 'elisiario',
 'itaju',
 'brasilândia de minas',
 'paruru',
 'montes claros',
 'jacobina do piaui',
 'sao sebastiao dos pocoes',
 'beneditinos',
 'matureia',
 'amarante',
 'conceição de jacareí',
 'lídice',
 'taiobeiras',
 'ilicinea',
 'araras',
 'toritama',
 'sao miguel do aleixo',
 'entre rios de minas',
 'açu',
 'jardim',
 'sao felix do piaui',
 'quirinopolis',
 'corumbá',
 'são roque do canaã',
 'pacatuba',
 'caicara',
 'santa maria do oeste',
 'treze tílias',
 'cidade gaucha',
 'cidelandia',
 'ariquemes',
 'maracana',
 'anitapolis',
 'prados',
 'camocim de sao felix',
 'posse',
 'pedras altas',
 'jeriquara',
 'canelinha',
 'maniacu',
 'franca',
 'santa maria de itabira',
 'sao felix de balsas',
 'guiratinga',
 'dez de maio',
 'sapezal',
 'eusebio',
 'arapeí',
 'boa vista do incra',
 'vitoria brasil',
 'igaporã',
 'treze tilias',
 'quata',
 'sao luis gonzaga do maranhao',
 'heliodora',
 'ibitira',
 'venturosa',
 'piritiba',
 'bom jesus do sul',
 'guariba',
 'planaltina do parana',
 'armazem',
 'santo ângelo',
 'ipiranga do sul',
 'paqueta',
 'são josé das palmeiras',
 'aparecida d oeste',
 'araruna',
 'inhapi',
 'guadalupe',
 'hidrolândia',
 'parecis',
 'alto parana',
 'rio preto',
 'colonia vitoria',
 'lagoa do ouro',
 'novo alegre',
 'laguna',
 'biritiba mirim',
 'pimenta bueno',
 'iguaracu',
 'pontão',
 'ubauna',
 'gama',
 'miraguai',
 'algodão de jandaíra',
 'são josé do jacuri',
 'doutor pedrinho',
 "santa rita d'oeste",
 'lebon regis',
 'união do oeste',
 'cambuí',
 'areia branca',
 'itambe do mato dentro',
 'são joão do soter',
 'barra do piraí',
 'esperanca nova',
 'progresso',
 'indiapora',
 'ibiam',
 'axixa',
 'monte siao',
 'maravilha',
 'chã de alegria',
 'tauá',
 'campinapolis',
 'piranguinho',
 'maximiliano de almeida',
 'pescador',
 'santo antonio da barra',
 'mococa',
 'planalto',
 'ipuacu',
 'azambuja',
 'babaculandia',
 'brumadinho',
 'nova america da colina',
 'montauri',
 'guaiçara',
 'santa cruz das palmeiras',
 'guacui',
 'francinópolis',
 'cachoeira dos índios',
 'cabaceiras do paraguaçu',
 'solânea',
 'varzea',
 'tapera',
 'iramaia',
 'armação dos búzios',
 'cabaceiras do paraguacu',
 'sao marcos',
 'pires do rio',
 'sarzedo',
 'fortaleza do tabocao',
 'guaiba',
 'pocos de caldas',
 'senhora do porto',
 'crixas do tocantins',
 'são joão do sul',
 'santiago do sul',
 'potiretama',
 'descoberto',
 'castelandia',
 'trajano de morais',
 'taiaçu',
 'paraguaçu paulista',
 'avaí do jacinto',
 'caetano mendes',
 'óleo',
 'boqueirao',
 'nova boa vista',
 'ipiranga do piaui',
 'cavalcante',
 'barretos',
 'porto do mangue',
 'nova londrina',
 'frei inocencio',
 'cujubim',
 'olimpio noronha',
 'timbiras',
 'aurora do iguacu',
 'santa margarida do sul',
 'lagoa dos tres cantos',
 'carapicuiba',
 'são sebastião da boa vista',
 'santa bárbara',
 'mimoso do sul',
 'alcântara',
 "sant'ana do livramento",
 'campanário',
 'remígio',
 'indiaroba',
 'santa rita da floresta',
 'propriá',
 'sigefredo pacheco',
 'igaratinga',
 'novo triunfo',
 'governador newton bello',
 'faina',
 'santa rita do trivelato',
 'machadinho',
 'gaucha do norte',
 'itatiba do sul',
 'cachoeira de piria',
 'bom jardim do sul',
 'lajeado',
 'são roque',
 'cacarema',
 'parana',
 'ipora',
 'iporã',
 'urania',
 'capao alto',
 'pardinho',
 'lajes',
 'camocim',
 'penha do capim',
 'cordeirópolis',
 'campo alegre de lourdes',
 'santo hipólito',
 'guapimirim',
 'água boa',
 "mae d'agua",
 'ouro velho',
 'abadiânia',
 'nossa senhora das dores',
 'sao joao do pau dalho',
 'são domingos das dores',
 'general maynard',
 'sao francisco do sul',
 'sitio do mato',
 'ilhota',
 'sao jose dos pinhais',
 'braco do trombudo',
 'ipoema',
 'são josé dos ramos',
 'sinimbu',
 'santana do seridó',
 'monte gordo',
 'buri',
 'palmeira dos indios',
 'ferraz de vasconcelos',
 'paco do lumiar',
 'água doce do maranhão',
 'sapucaia do sul',
 'ibitiura de minas',
 'tailandia',
 'restinga',
 'leopoldo de bulhoes',
 'altamira do paraná',
 'anhumas',
 'vista serrana',
 'rio das pedras',
 'antônio prado de minas',
 'pinhalzinho',
 'tapiraí',
 'são joão do cariri',
 'california',
 'niterói',
 'altônia',
 'julio de castilhos',
 'santa cruz da baixa verde',
 'caiabu',
 'itueta',
 'santa lucia',
 'doutor ulysses',
 'brasilândia do sul',
 'nova erechim',
 'tocantinopolis',
 'balneário rincão',
 'sertão',
 'retirolândia',
 'iconha',
 'sao miguel dos milagres',
 'nova era',
 'puxinana',
 'piracanjuba',
 'cacapava',
 'jau',
 'granito',
 'riachao',
 'macaúbas',
 'augusto pestana',
 'ipirá',
 'honorio serpa',
 'medina',
 'armacao de buzios',
 'pedra do indaiá',
 'humaitá',
 'ervália',
 'frecheirinha',
 'gouvelandia',
 'quintao',
 'colônia',
 'silveira martins',
 'tutoia',
 'novo diamantino',
 'anaurilândia',
 'sao jose do turvo',
 'andrequice',
 'garopaba',
 'serra preta',
 'severiano de almeida',
 'maracás',
 'diadema',
 'quilombo',
 'alto parnaíba',
 'são geraldo',
 'adrianopolis',
 'cachoeiro de itapemirim',
 'arraial',
 'iporanga',
 'diamante do sul',
 'estrela de jordânia',
 'caridade do piaui',
 'foz do iguacu',
 'sede nova',
 'arapei',
 'general sampaio',
 'são josé do divino',
 'são gonçalo do sapucaí',
 'jiquirica',
 'poté',
 'aracatu',
 'nova petropolis',
 'não-me-toque',
 'vertentes',
 'floresta',
 'santa rita d oeste',
 'goiatins',
 'sao lourenco do piaui',
 'plácido de castro',
 'boa esperanca do sul',
 'mormaco',
 'osasco',
 'taquarussu',
 'santo antonio do manhuacu',
 'são josé do rio preto',
 'florestópolis',
 'bady bassitt',
 'monte alegre de goias',
 'garruchos',
 'inconfidentes',
 'nova olímpia',
 'mata',
 'aratuipe',
 'ceará-mirim',
 'redencao',
 'penha',
 'princesa',
 'santa cruz da vitoria',
 'camaqua',
 'taiuva',
 'são vicente do sul',
 'analandia',
 'vespasiano correa',
 'prudentópolis',
 'sao joaquim da barra',
 'corumba de goias',
 'guaiuba',
 'poranga',
 'platina',
 'porto rico',
 'eldorado do sul',
 'itubera',
 'conservatória',
 'paraiba do sul',
 'casa grande',
 'ribeirao vermelho',
 'santo estevão',
 'são josé das missões',
 'tuntum',
 'buzios',
 'cabeceira grande',
 'arandu',
 'ilha solteira',
 'marataízes',
 'jequia da praia',
 'são josé do egito',
 'cachoeira do piria',
 'colares',
 'angelina',
 'charrua',
 'salto do céu',
 'novorizonte',
 'porto belo',
 'arapuá',
 'cícero dantas',
 'xambioa',
 'arapiraca',
 'paty do alferes',
 'rio do antônio',
 'coreau',
 'nova california',
 'apuiares',
 'colônia do gurguéia',
 'são mamede',
 'caicó',
 'urubici',
 'umburatiba',
 'taparuba',
 'pinhalao',
 'são gonçalo do abaeté',
 'campos belos',
 'porto ferreira',
 'são francisco',
 'lago do junco',
 'sao luis do curu',
 'matrincha',
 'franciscópolis',
 'melo viana',
 'currais novos',
 'porto dos gaúchos',
 'tangara',
 'itaguaje',
 'irauçuba',
 'breu branco',
 'barra de santo antônio',
 'dolcinopolis',
 'dorandia',
 'taquarivaí',
 'guaraciaba',
 'boraceia',
 'bom lugar',
 'colônia z-3',
 'jussiape',
 'caracol',
 'macedônia',
 'santo antônio das missões',
 'nipoã',
 'portao',
 'parnaguá',
 'socorro do piaui',
 'são gotardo',
 'cha grande',
 'aracati',
 'piedade do paraopeba',
 'almirante tamandare',
 'claudio',
 'guajará-mirim',
 'candia',
 'tramandai',
 'palmital',
 'fortuna',
 'armacao dos buzios',
 'sao joao do sul',
 'lupionópolis',
 'cerro grande',
 'centro novo do maranhao',
 'aroeiras',
 'peruibe',
 'tabuleiro do norte',
 'união do sul',
 'guaramiranga',
 'araguaçu',
 'crixas',
 'sao jose do jacuri',
 'americana',
 'corupá',
 'são josé da bela vista',
 'rondon do pará',
 'arujá',
 'entre folhas',
 'coroados',
 'pratania',
 'fortaleza dos nogueiras',
 'alambari',
 'vilhena',
 'figueiropolis d oeste',
 'cotriguacu',
 'general camara',
 'sao vicente do sul',
 'américo de campos',
 'jacinto',
 'brejo grande do araguaia',
 'reserva',
 'gentio do ouro',
 'divinopolis de goias',
 'ponte alta do tocantins',
 'janiopolis',
 'campo do meio',
 'divinesia',
 'joaquim pires',
 'guatapara',
 'lagoa de velhos',
 'sao raimundo das mangabeiras',
 'ribeirão do sul',
 'rincão',
 'fronteira',
 'olhos-d agua',
 'eunápolis',
 'caldazinha',
 'pontao',
 'santo antônio de goiás',
 'itapeva',
 'barra do choça',
 'lençóis paulista',
 'jansen',
 'são josé da mata',
 'córrego do ouro',
 'antônio martins',
 'jucás',
 'sao lourenco do sul',
 'monte mor',
 'rocas novas',
 'santa amelia',
 "itapejara d'oeste",
 'tupancireta',
 'orizona',
 'landri sales',
 'aracas',
 'itaú de minas',
 'echaporã',
 'rosário do sul',
 'correia pinto',
 'luís domingues',
 'alta floresta doeste',
 'cotipora',
 'goianá',
 'coroatá',
 'ipero',
 'ribeiro goncalves',
 'itambacuri',
 'barao de cotegipe',
 'itapirapuã paulista',
 'mairi',
 'acajutiba',
 'sao bernardo',
 'roseira',
 'eneida',
 'triunfo potiguar',
 'garrafao do norte',
 'gravataí',
 'flores de goiás',
 'palestina de goiás',
 'sao jose da vitoria',
 'jacare dos homens',
 'califórnia da barra',
 'sao goncalo do amarante',
 'alto longa',
 'laranjal do jari',
 'picarras',
 'adolfo',
 'peçanha',
 'coronel domingos soares',
 'holambra ii',
 'santa maria',
 'são josé de ubá',
 'coronel xavier chaves',
 'santa terezinha de minas',
 'parnarama',
 'são francisco do brejão',
 'paranacity',
 'olímpia',
 'cabrobó',
 'demerval lobao',
 'divisa nova',
 'itu',
 'jafa',
 'macuco',
 'ibiassuce',
 'bueno brandao',
 'pinheiros altos',
 'contendas do sincorá',
 'pilõezinhos',
 'água fria de goiás',
 'jaragua',
 'riacho fundo',
 'raposa',
 'sao jose das palmeiras',
 'tavares',
 'itariri',
 'santo antônio do aracanguá',
 'jumirim',
 'aruanã',
 'monção',
 'vila rica',
 'coronel barros',
 'conceição do mato dentro',
 'ewbank da camara',
 'machacalis',
 'barro preto',
 'florida',
 'são miguel do oeste',
 'tarauacá',
 'capitolio',
 'cuiabá paulista',
 'coronel jose dias',
 'tres coracoes',
 'potirendaba',
 'nobres',
 'lagoa de sao francisco',
 'nova venecia',
 'rio negro',
 'jacutinga',
 'itapetininga',
 'governador luiz rocha',
 'cocais',
 'araçás',
 'arraial do cabo',
 'rio grande',
 'farol',
 'passa quatro',
 'piracuruca',
 'inhuma',
 'inhacorá',
 'brazabrantes',
 'nova esperança do sul',
 'conchal',
 'itati',
 'coração de jesus',
 'nova pádua',
 'liberdade',
 'orleans',
 'cariré',
 'ze doca',
 'estrela doeste',
 'santa maria da serra',
 'ipituna',
 'dois de abril',
 'epitaciolandia',
 'santo antonio do descoberto',
 'lagoa da confusão',
 'brazopolis',
 'peabiru',
 'campo novo',
 'coimbra',
 'giruá',
 'simão dias',
 'são lourenço da serra',
 'aspásia',
 'gloria de dourados',
 'teolandia',
 'alvorada do gurguéia',
 'divinésia',
 'corrente',
 'caçapava do sul',
 'nova maringá',
 'piquerobi',
 'monte santo do tocantins',
 'leopoldo de bulhões',
 'sao jose do povo',
 'alecrim',
 'castelo',
 'aratiba',
 'são raimundo do doca bezerra',
 'gentil',
 'congo',
 'indaiabira',
 'bom jesus',
 'araguacu',
 'cândido sales',
 'pedra do anta',
 'entre rios',
 'santaluz',
 'são josé do bonfim',
 'guaçuí',
 'jerônimo monteiro',
 'ivoti',
 'santa clara',
 'santa fé de goiás',
 'dionísio cerqueira',
 'balneario gaivota',
 'tres irmaos',
 'promissao',
 'são josé do calçado',
 'urucui',
 'catalão',
 'gaurama',
 'mondaí',
 'eugenópolis',
 'ceres',
 'colmeia',
 'boa vista do cadeado',
 'manhuacu',
 'erval seco',
 'esperanca do sul',
 'aguas lindas de goias',
 'russas',
 'aimorés',
 'carneirinho',
 'mirante da serra',
 'guaraita',
 'atalaia',
 'nanuque',
 'loanda',
 'ipaumirim',
 'conceicao do coite',
 'cardeal da silva',
 'primavera',
 'sao cristovao',
 'japaratinga',
 'bonfinópolis',
 ...]