#### Sobre o Conjunto de Dados
Este é um conjunto de dados público de pedidos do e-commerce brasileiro feitos na loja Olist. O conjunto de dados contém informações de 100 mil pedidos de 2016 a 2018 feitos em diversos marketplaces no Brasil.
Esses são dados comerciais reais, que foram anonimizados, e as referências às empresas e parceiros nos textos de avaliação foram substituídas pelos nomes das grandes casas de Game of Thrones.


#### Contexto
Este conjunto de dados foi generosamente fornecido pela Olist, a maior loja de departamentos dos marketplaces brasileiros. A Olist conecta pequenos negócios de todo o Brasil a canais de vendas, sem complicações e com um único contrato. Esses comerciantes conseguem vender seus produtos através da Olist Store e enviá-los diretamente aos clientes utilizando os parceiros logísticos da Olist. 

Após o cliente comprar um produto na Olist Store, o vendedor é notificado para atender a esse pedido. Uma vez que o cliente recebe o produto, ou que a data estimada de entrega expire, o cliente recebe uma pesquisa de satisfação por e-mail, onde pode dar uma nota para a experiência de compra e escrever alguns comentários.

<img src='https://i.imgur.com/HRhd2Y0.png' height=400px/>

In [44]:
import polars as pl
import pandas as pd

#### Informações adcionais
----------

##### Conjunto de Dados de Clientes(olist_customer)
> Este conjunto de dados contém informações sobre o cliente e sua localização. Utilize-o para identificar clientes únicos no conjunto de dados de pedidos e para encontrar a localização de entrega dos pedidos.
>
> Em nosso sistema, cada pedido é atribuído a um customer_id exclusivo. Isso significa que o mesmo cliente terá diferentes ids para pedidos distintos. O propósito de ter um customer_unique_id no conjunto de dados é permitir que você identifique clientes que fizeram novas compras na loja. Caso contrário, você descobriria que cada pedido estaria associado a um cliente diferente.
--------

##### Conjunto de Dados de Geolocalização (geolocation)
> Este conjunto de dados contém informações sobre os códigos postais brasileiros e suas coordenadas de latitude/longitude. Utilize-o para plotar mapas e calcular distâncias entre vendedores e clientes

--------

##### Conjunto de Dados de Itens de Pedidos (order_items)
> Este conjunto de dados inclui informações sobre os itens comprados em cada pedido.

> Exemplo:
> O order_id = 00143d0f86d6fbd9f9b38ab440ac16f5 possui 3 itens (mesmo produto). Cada item tem o frete calculado de acordo com suas medidas e peso. Para obter o valor total do frete de cada pedido, basta somar.


-------
##### Payments Dataset
> This dataset includes data about the orders payment options.

-------
##### Conjunto de Dados de Avaliações de Pedidos (reviews dataset) 
> Este conjunto de dados inclui informações sobre as avaliações feitas pelos clientes.
> Após o cliente comprar um produto na Olist Store, o vendedor é notificado para atender a esse pedido. Quando o cliente recebe o produto, ou quando a data estimada de entrega se expira, o cliente recebe uma pesquisa de satisfação por e-mail, onde pode dar uma nota para a experiência de compra e escrever alguns comentários.

&nbsp;

### Limpeza de dados

#### Limpeza para os Dados de Clientes(olist_customer)

In [45]:
customer = pl.read_csv(
    source='dataset/olist_customers_dataset.csv', infer_schema=False
)

In [46]:
customer.head(2)

shape: (2, 5)
┌────────────────────┬────────────────────┬───────────────────┬───────────────────┬────────────────┐
│ customer_id        ┆ customer_unique_id ┆ customer_zip_code ┆ customer_city     ┆ customer_state │
│ ---                ┆ ---                ┆ _prefix           ┆ ---               ┆ ---            │
│ str                ┆ str                ┆ ---               ┆ str               ┆ str            │
│                    ┆                    ┆ str               ┆                   ┆                │
╞════════════════════╪════════════════════╪═══════════════════╪═══════════════════╪════════════════╡
│ 06b8999e2fba1a1fbc ┆ 861eff4711a542e4b9 ┆ 14409             ┆ franca            ┆ SP             │
│ 88172c00ba8b…      ┆ 3843c6dd7feb…      ┆                   ┆                   ┆                │
│ 18955e83d337fd6b2d ┆ 290c77bc529b7ac935 ┆ 09790             ┆ sao bernardo do   ┆ SP             │
│ ef6b18a428ac…      ┆ b93aa66c333d…      ┆                   ┆ campo             ┆                │
└────────────────────┴────────────────────┴───────────────────┴───────────────────┴────────────────┘

In [47]:
customer.shape

(99441, 5)

Verificando a quantidade de valores únicos de cada coluna

In [48]:
pd.DataFrame({
    col : customer.select(pl.col(col)).n_unique() \
    for col in customer.columns
}, index=['Quantidade de valores únicos']).T

                          Quantidade de valores únicos
customer_id                                      99441
customer_unique_id                               96096
customer_zip_code_prefix                         14994
customer_city                                     4119
customer_state                                      27

> `customer_id` é uma chave primaria
>
> `customer_zip_code_prefix` é uma chave estrangeira

Chave primaria e chave estrangeira não necessitam de tratamento, somente, se houver valores nulos nesse conj. dados. Mais abaixo irei verificar a quantidade de valores nulos por colunas

In [49]:
customer.select(pl.col('customer_id').null_count()).item()

0

In [50]:
customer\
    .null_count()\
    .transpose(
        include_header=True,
        header_name   ='colunas',
        column_names  =['Quantidade de valores nulos']
).to_pandas()

                    colunas  Quantidade de valores nulos
0               customer_id                            0
1        customer_unique_id                            0
2  customer_zip_code_prefix                            0
3             customer_city                            0
4            customer_state                            0

> Não há valores nulos nas colunas acima

fazendo uma analise nas colunas `customer_city` e `customer_state`

In [51]:
customer.select(pl.col('customer_city')).head(3)

shape: (3, 1)
┌───────────────────────┐
│ customer_city         │
│ ---                   │
│ str                   │
╞═══════════════════════╡
│ franca                │
│ sao bernardo do campo │
│ sao paulo             │
└───────────────────────┘

> vou deixar no formato de titulo o texto para melhor visualização para futura analises

In [52]:
customer = customer.with_columns(
    pl.col('customer_city').cast(pl.String).str.to_titlecase()
)

In [53]:
customer.select(pl.col('customer_city')).head(10)

shape: (10, 1)
┌───────────────────────┐
│ customer_city         │
│ ---                   │
│ str                   │
╞═══════════════════════╡
│ Franca                │
│ Sao Bernardo Do Campo │
│ Sao Paulo             │
│ Mogi Das Cruzes       │
│ Campinas              │
│ Jaragua Do Sul        │
│ Sao Paulo             │
│ Timoteo               │
│ Curitiba              │
│ Belo Horizonte        │
└───────────────────────┘

In [54]:
# Escrevendo dados
customer.write_csv(file='dataset_limpo_para_analise/olist_customers.csv')

&nbsp;

#### Limpeza para os Dados de Clientes(olist_customer)

In [55]:
order = pl.read_csv('dataset/olist_orders_dataset.csv', infer_schema=False)
order.head(3)

shape: (3, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ order_id   ┆ customer_i ┆ order_stat ┆ order_pur ┆ order_app ┆ order_del ┆ order_del ┆ order_est │
│ ---        ┆ d          ┆ us         ┆ chase_tim ┆ roved_at  ┆ ivered_ca ┆ ivered_cu ┆ imated_de │
│ str        ┆ ---        ┆ ---        ┆ estamp    ┆ ---       ┆ rrier_dat ┆ stomer_da ┆ livery_da │
│            ┆ str        ┆ str        ┆ ---       ┆ str       ┆ e         ┆ te        ┆ te        │
│            ┆            ┆            ┆ str       ┆           ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆            ┆           ┆           ┆ str       ┆ str       ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ e481f51cbd ┆ 9ef432eb62 ┆ delivered  ┆ 2017-10-0 ┆ 2017-10-0 ┆ 2017-10-0 ┆ 2017-10-1 ┆ 2017-10-1 │
│ c54678b7cc ┆ 51297304e7 ┆            ┆ 2         ┆ 2         ┆ 4         ┆ 0         ┆ 8         │
│ 49136f2d6a ┆ 6186b10a92 ┆            ┆ 10:56:33  ┆ 11:07:15  ┆ 19:55:00  ┆ 21:25:13  ┆ 00:00:00  │
│ …          ┆ …          ┆            ┆           ┆           ┆           ┆           ┆           │
│ 53cdb2fc8b ┆ b0830fb474 ┆ delivered  ┆ 2018-07-2 ┆ 2018-07-2 ┆ 2018-07-2 ┆ 2018-08-0 ┆ 2018-08-1 │
│ c7dce0b674 ┆ 7a6c6d20de ┆            ┆ 4         ┆ 6         ┆ 6         ┆ 7         ┆ 3         │
│ 1e21502734 ┆ a0b8c802d7 ┆            ┆ 20:41:37  ┆ 03:24:27  ┆ 14:31:00  ┆ 15:27:45  ┆ 00:00:00  │
│ …          ┆ …          ┆            ┆           ┆           ┆           ┆           ┆           │
│ 47770eb910 ┆ 41ce2a54c0 ┆ delivered  ┆ 2018-08-0 ┆ 2018-08-0 ┆ 2018-08-0 ┆ 2018-08-1 ┆ 2018-09-0 │
│ 0c2d0c4494 ┆ b03bf3443c ┆            ┆ 8         ┆ 8         ┆ 8         ┆ 7         ┆ 4         │
│ 6d9cf07ec6 ┆ 3d931a3670 ┆            ┆ 08:38:49  ┆ 08:55:23  ┆ 13:50:00  ┆ 18:06:29  ┆ 00:00:00  │
│ …          ┆ …          ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [56]:
order['order_status'].unique()

shape: (8,)
Series: 'order_status' [str]
[
	"delivered"
	"created"
	"unavailable"
	"shipped"
	"processing"
	"invoiced"
	"approved"
	"canceled"
]

In [57]:
status_map = {
    "delivered": "entregue",
    "invoiced": "faturado",
    "shipped": "enviado",
    "created": "criado",
    "approved": "aprovado",
    "processing": "processando",
    'canceled' :'cancelado',
    'unavailable': 'indisponível'
}

In [58]:
order = order.with_columns(
    pl.col("order_status").replace(status_map)
)

In [59]:
order['order_status'].unique()

shape: (8,)
Series: 'order_status' [str]
[
	"enviado"
	"faturado"
	"aprovado"
	"indisponível"
	"cancelado"
	"entregue"
	"processando"
	"criado"
]

- "enviado", 'entrege','aprovado, 'entregue', 'faturado' = 'ok'
- 'cancelado', 'indisponivel' = no
- 'processado'  = 'em processo'

In [60]:
ok = ['enviado', 'entrege','aprovado', 'entregue', 'faturado']
no = ['cancelado', 'indisponível']
in_ = ['processando']

order = order.with_columns(
    status_ = pl.when(pl.col('order_status').is_in(ok))\
                .then(pl.lit('ok'))\
                .when(pl.col('order_status').is_in(no))\
                .then(pl.lit('no'))
                .otherwise(pl.lit('in_'))
)

In [61]:
order\
    .null_count()\
    .transpose(
        include_header=True,
        header_name   ='colunas',
        column_names  =['Quantidade de valores nulos']
)

shape: (9, 2)
┌───────────────────────────────┬─────────────────────────────┐
│ colunas                       ┆ Quantidade de valores nulos │
│ ---                           ┆ ---                         │
│ str                           ┆ u32                         │
╞═══════════════════════════════╪═════════════════════════════╡
│ order_id                      ┆ 0                           │
│ customer_id                   ┆ 0                           │
│ order_status                  ┆ 0                           │
│ order_purchase_timestamp      ┆ 0                           │
│ order_approved_at             ┆ 160                         │
│ order_delivered_carrier_date  ┆ 1783                        │
│ order_delivered_customer_date ┆ 2965                        │
│ order_estimated_delivery_date ┆ 0                           │
│ status_                       ┆ 0                           │
└───────────────────────────────┴─────────────────────────────┘

> Os valores nan serão removidas

In [62]:
order.write_csv(
    'dataset_limpo_para_analise\\olist_order.csv'
)

#### limpeza para Itens de Pedidos (order_items)

In [63]:
pedidos = pl.read_csv(
    source='dataset/olist_order_items_dataset.csv',
    infer_schema=False
    )

In [64]:
pedidos.columns

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value']

In [65]:
pedidos.head(3)

shape: (3, 7)
┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬────────┬──────────────┐
│ order_id     ┆ order_item_i ┆ product_id   ┆ seller_id    ┆ shipping_lim ┆ price  ┆ freight_valu │
│ ---          ┆ d            ┆ ---          ┆ ---          ┆ it_date      ┆ ---    ┆ e            │
│ str          ┆ ---          ┆ str          ┆ str          ┆ ---          ┆ str    ┆ ---          │
│              ┆ str          ┆              ┆              ┆ str          ┆        ┆ str          │
╞══════════════╪══════════════╪══════════════╪══════════════╪══════════════╪════════╪══════════════╡
│ 00010242fe8c ┆ 1            ┆ 4244733e06e7 ┆ 48436dade18a ┆ 2017-09-19   ┆ 58.90  ┆ 13.29        │
│ 5a6d1ba2dd79 ┆              ┆ ecb4970a6e26 ┆ c8b2bce089ec ┆ 09:45:35     ┆        ┆              │
│ 2cb162…      ┆              ┆ 83c13e…      ┆ 2a0412…      ┆              ┆        ┆              │
│ 00018f77f2f0 ┆ 1            ┆ e5f2d52b8021 ┆ dd7ddc04e1b6 ┆ 2017-05-03   ┆ 239.90 ┆ 19.93        │
│ 320c557190d7 ┆              ┆ 89ee658865ca ┆ c2c614352b38 ┆ 11:05:13     ┆        ┆              │
│ a144bd…      ┆              ┆ 93d83a…      ┆ 3efe2d…      ┆              ┆        ┆              │
│ 000229ec3982 ┆ 1            ┆ c777355d18b7 ┆ 5b51032eddd2 ┆ 2018-01-18   ┆ 199.00 ┆ 17.87        │
│ 24ef6ca0657d ┆              ┆ 2b67abbeef9d ┆ 42adc84c38ac ┆ 14:48:30     ┆        ┆              │
│ a4fc70…      ┆              ┆ f44fd0…      ┆ ab88f2…      ┆              ┆        ┆              │
└──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴────────┴──────────────┘

In [66]:
pedidos\
    .select(pl.all().n_unique())\
    .transpose(
        include_header=True,
        header_name='colunas',
        column_names=['Valores Únicos']
    )

shape: (7, 2)
┌─────────────────────┬────────────────┐
│ colunas             ┆ Valores Únicos │
│ ---                 ┆ ---            │
│ str                 ┆ u32            │
╞═════════════════════╪════════════════╡
│ order_id            ┆ 98666          │
│ order_item_id       ┆ 21             │
│ product_id          ┆ 32951          │
│ seller_id           ┆ 3095           │
│ shipping_limit_date ┆ 93318          │
│ price               ┆ 5968           │
│ freight_value       ┆ 6999           │
└─────────────────────┴────────────────┘

In [67]:
pedidos.select(
    pl.all().null_count()
).transpose(
    include_header=True,
    header_name ='colunas',
    column_names=['Quantidade de valores nulos']
)

shape: (7, 2)
┌─────────────────────┬─────────────────────────────┐
│ colunas             ┆ Quantidade de valores nulos │
│ ---                 ┆ ---                         │
│ str                 ┆ u32                         │
╞═════════════════════╪═════════════════════════════╡
│ order_id            ┆ 0                           │
│ order_item_id       ┆ 0                           │
│ product_id          ┆ 0                           │
│ seller_id           ┆ 0                           │
│ shipping_limit_date ┆ 0                           │
│ price               ┆ 0                           │
│ freight_value       ┆ 0                           │
└─────────────────────┴─────────────────────────────┘

> Não há valores nulos nesse conjunto de dados

Conventendo valores numericos que estão no formato string, e conventendo para o padrão brasileiro a data

In [68]:
pedidos = pedidos.with_columns(
        pl.col('shipping_limit_date')\
            .str.strptime(pl.Datetime(time_zone='UTC'))\
            .dt.strftime(format="%d-%m-%Y %H:%M:%S"), # Convertendo data

        pl.col('price').str.to_decimal(),         # Convertendo para float
        pl.col('freight_value').str.to_decimal(), # Convertendo para float
    )

In [69]:
pedidos.dtypes

[String,
 String,
 String,
 String,
 String,
 Decimal(precision=None, scale=2),
 Decimal(precision=None, scale=2)]

In [70]:
# Escrevendo dados
pedidos.write_csv(file='dataset_limpo_para_analise/olist_order_items.csv')

&nbsp;

#### limpeza Payments Dataset(olist_payments)

In [71]:
payments = pl.read_csv(
    'dataset/olist_order_payments_dataset.csv',
    infer_schema=False
)

In [72]:
payments.head(2)

shape: (2, 5)
┌───────────────────────┬────────────────────┬──────────────┬──────────────────────┬───────────────┐
│ order_id              ┆ payment_sequential ┆ payment_type ┆ payment_installments ┆ payment_value │
│ ---                   ┆ ---                ┆ ---          ┆ ---                  ┆ ---           │
│ str                   ┆ str                ┆ str          ┆ str                  ┆ str           │
╞═══════════════════════╪════════════════════╪══════════════╪══════════════════════╪═══════════════╡
│ b81ef226f3fe1789b1e8b ┆ 1                  ┆ credit_card  ┆ 8                    ┆ 99.33         │
│ 2acac839d…            ┆                    ┆              ┆                      ┆               │
│ a9810da82917af2d9aefd ┆ 1                  ┆ credit_card  ┆ 1                    ┆ 24.39         │
│ 1278f1dcf…            ┆                    ┆              ┆                      ┆               │
└───────────────────────┴────────────────────┴──────────────┴──────────────────────┴───────────────┘

In [73]:
payments.select(
    pl.all().null_count()
).transpose(
    include_header=True,
    header_name ='colunas',
    column_names=['Quantidade de valores nulos']
)

shape: (5, 2)
┌──────────────────────┬─────────────────────────────┐
│ colunas              ┆ Quantidade de valores nulos │
│ ---                  ┆ ---                         │
│ str                  ┆ u32                         │
╞══════════════════════╪═════════════════════════════╡
│ order_id             ┆ 0                           │
│ payment_sequential   ┆ 0                           │
│ payment_type         ┆ 0                           │
│ payment_installments ┆ 0                           │
│ payment_value        ┆ 0                           │
└──────────────────────┴─────────────────────────────┘

In [74]:
payments\
    .select(pl.all().n_unique())\
    .transpose(
        include_header=True,
        header_name='colunas',
        column_names=['Valores Únicos']
    )

shape: (5, 2)
┌──────────────────────┬────────────────┐
│ colunas              ┆ Valores Únicos │
│ ---                  ┆ ---            │
│ str                  ┆ u32            │
╞══════════════════════╪════════════════╡
│ order_id             ┆ 99440          │
│ payment_sequential   ┆ 29             │
│ payment_type         ┆ 5              │
│ payment_installments ┆ 24             │
│ payment_value        ┆ 29077          │
└──────────────────────┴────────────────┘

In [75]:
payments\
    .select(pl.col('payment_type'))\
    .group_by(by=pl.col('payment_type'))\
    .len()\
    .sort(by=pl.col('len'))

shape: (5, 2)
┌─────────────┬───────┐
│ by          ┆ len   │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ not_defined ┆ 3     │
│ debit_card  ┆ 1529  │
│ voucher     ┆ 5775  │
│ boleto      ┆ 19784 │
│ credit_card ┆ 76795 │
└─────────────┴───────┘

> Não definido será transformando para nada e removido

In [76]:
payments = payments\
    .with_columns(
        pl.when(pl.col('payment_type')=='not_defined')\
          .then(pl.lit(None))\
          .otherwise(pl.col('payment_type')).alias(name='payment_type')
    )

In [77]:
payments.select(
    pl.all().null_count()
).transpose(
    include_header=True,
    header_name ='colunas',
    column_names=['Quantidade de valores nulos']
)

shape: (5, 2)
┌──────────────────────┬─────────────────────────────┐
│ colunas              ┆ Quantidade de valores nulos │
│ ---                  ┆ ---                         │
│ str                  ┆ u32                         │
╞══════════════════════╪═════════════════════════════╡
│ order_id             ┆ 0                           │
│ payment_sequential   ┆ 0                           │
│ payment_type         ┆ 3                           │
│ payment_installments ┆ 0                           │
│ payment_value        ┆ 0                           │
└──────────────────────┴─────────────────────────────┘

In [78]:
payments.head(3)

shape: (3, 5)
┌───────────────────────┬────────────────────┬──────────────┬──────────────────────┬───────────────┐
│ order_id              ┆ payment_sequential ┆ payment_type ┆ payment_installments ┆ payment_value │
│ ---                   ┆ ---                ┆ ---          ┆ ---                  ┆ ---           │
│ str                   ┆ str                ┆ str          ┆ str                  ┆ str           │
╞═══════════════════════╪════════════════════╪══════════════╪══════════════════════╪═══════════════╡
│ b81ef226f3fe1789b1e8b ┆ 1                  ┆ credit_card  ┆ 8                    ┆ 99.33         │
│ 2acac839d…            ┆                    ┆              ┆                      ┆               │
│ a9810da82917af2d9aefd ┆ 1                  ┆ credit_card  ┆ 1                    ┆ 24.39         │
│ 1278f1dcf…            ┆                    ┆              ┆                      ┆               │
│ 25e8ea4e93396b6fa0d3d ┆ 1                  ┆ credit_card  ┆ 1                    ┆ 65.71         │
│ d708e76c1…            ┆                    ┆              ┆                      ┆               │
└───────────────────────┴────────────────────┴──────────────┴──────────────────────┴───────────────┘

In [79]:
payments = payments.with_columns(
    pl.when(pl.col('payment_type') == 'credit_card')\
        .then(pl.lit('Cartão de Crédito'))\
        .when(pl.col('payment_type') == 'boleto')\
        .then(pl.lit('Boleto'))\
        .when(pl.col('payment_type')=='debit_card')\
        .then(pl.lit('Cartão de debito'))\
        .otherwise(pl.col('payment_type'))\
        .alias('payment_type')
)

In [80]:
payments\
    .select(pl.col('payment_type'))\
    .group_by(by=pl.col('payment_type'))\
    .len()\
    .sort(by=pl.col('len'))

shape: (5, 2)
┌───────────────────┬───────┐
│ by                ┆ len   │
│ ---               ┆ ---   │
│ str               ┆ u32   │
╞═══════════════════╪═══════╡
│ null              ┆ 3     │
│ Cartão de debito  ┆ 1529  │
│ voucher           ┆ 5775  │
│ Boleto            ┆ 19784 │
│ Cartão de Crédito ┆ 76795 │
└───────────────────┴───────┘

In [81]:
payments.to_pandas().dropna().to_csv('dataset_limpo_para_analise/olist_order_payments.csv', index=False)

&nbsp;

#### limpeza para Reviews(olist_Reviews)

In [82]:
reviews = pl.read_csv(
    source='dataset/olist_order_reviews_dataset.csv', infer_schema=False
)

In [83]:
reviews\
    .select(
        pl.all().null_count()
        )\
    .transpose(
        include_header=True,
        header_name ='colunas',
        column_names=['Quantidade de valores nulos']
    )

shape: (7, 2)
┌─────────────────────────┬─────────────────────────────┐
│ colunas                 ┆ Quantidade de valores nulos │
│ ---                     ┆ ---                         │
│ str                     ┆ u32                         │
╞═════════════════════════╪═════════════════════════════╡
│ review_id               ┆ 0                           │
│ order_id                ┆ 0                           │
│ review_score            ┆ 0                           │
│ review_comment_title    ┆ 87656                       │
│ review_comment_message  ┆ 58247                       │
│ review_creation_date    ┆ 0                           │
│ review_answer_timestamp ┆ 0                           │
└─────────────────────────┴─────────────────────────────┘

In [84]:
reviews.columns

['review_id',
 'order_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp']

In [85]:
reviews = reviews.with_columns(
    pl.col('review_comment_title').fill_null("Não colocou titulo")
)

In [86]:
reviews = reviews.with_columns(
    pl.col('review_comment_message').fill_null("Não comentou")
)

In [87]:
reviews\
    .select(
        pl.all().null_count()
        )\
    .transpose(
        include_header=True,
        header_name ='colunas',
        column_names=['Quantidade de valores nulos']
    )

shape: (7, 2)
┌─────────────────────────┬─────────────────────────────┐
│ colunas                 ┆ Quantidade de valores nulos │
│ ---                     ┆ ---                         │
│ str                     ┆ u32                         │
╞═════════════════════════╪═════════════════════════════╡
│ review_id               ┆ 0                           │
│ order_id                ┆ 0                           │
│ review_score            ┆ 0                           │
│ review_comment_title    ┆ 0                           │
│ review_comment_message  ┆ 0                           │
│ review_creation_date    ┆ 0                           │
│ review_answer_timestamp ┆ 0                           │
└─────────────────────────┴─────────────────────────────┘

In [88]:
reviews.write_csv("dataset_limpo_para_analise/olist_order_review.csv")

&nbsp;

#### Limpeza para sellers(olist_sellers)

In [89]:
sellers = pl.read_csv(
    "dataset/olist_sellers_dataset.csv", infer_schema=False
)
sellers.head(2)

shape: (2, 4)
┌─────────────────────────────────┬────────────────────────┬─────────────┬──────────────┐
│ seller_id                       ┆ seller_zip_code_prefix ┆ seller_city ┆ seller_state │
│ ---                             ┆ ---                    ┆ ---         ┆ ---          │
│ str                             ┆ str                    ┆ str         ┆ str          │
╞═════════════════════════════════╪════════════════════════╪═════════════╪══════════════╡
│ 3442f8959a84dea7ee197c632cb2df… ┆ 13023                  ┆ campinas    ┆ SP           │
│ d1b65fc7debc3361ea86b5f14c68d2… ┆ 13844                  ┆ mogi guacu  ┆ SP           │
└─────────────────────────────────┴────────────────────────┴─────────────┴──────────────┘

In [90]:
sellers.select(
    pl.all().null_count()
).transpose(include_header=True, 
            header_name="Colunas", 
            column_names=["Quantidade de valores nulos"])

shape: (4, 2)
┌────────────────────────┬─────────────────────────────┐
│ Colunas                ┆ Quantidade de valores nulos │
│ ---                    ┆ ---                         │
│ str                    ┆ u32                         │
╞════════════════════════╪═════════════════════════════╡
│ seller_id              ┆ 0                           │
│ seller_zip_code_prefix ┆ 0                           │
│ seller_city            ┆ 0                           │
│ seller_state           ┆ 0                           │
└────────────────────────┴─────────────────────────────┘

> Não há valores nulos no conjunto de dos

In [91]:
# Modificando o nome das cidades para o tipo de titulo
sellers = sellers.with_columns(
    pl.col("seller_city").str.to_titlecase()
)
sellers.head(2)

shape: (2, 4)
┌─────────────────────────────────┬────────────────────────┬─────────────┬──────────────┐
│ seller_id                       ┆ seller_zip_code_prefix ┆ seller_city ┆ seller_state │
│ ---                             ┆ ---                    ┆ ---         ┆ ---          │
│ str                             ┆ str                    ┆ str         ┆ str          │
╞═════════════════════════════════╪════════════════════════╪═════════════╪══════════════╡
│ 3442f8959a84dea7ee197c632cb2df… ┆ 13023                  ┆ Campinas    ┆ SP           │
│ d1b65fc7debc3361ea86b5f14c68d2… ┆ 13844                  ┆ Mogi Guacu  ┆ SP           │
└─────────────────────────────────┴────────────────────────┴─────────────┴──────────────┘

In [92]:
sellers.write_csv(
    "dataset_limpo_para_analise/olist_sellers.csv"
)

&nbsp;

#### limpeza para products(olist_product)

In [93]:
product = pl.read_csv(
    source = "dataset/olist_products_dataset.csv"
)
product.head(2)

shape: (2, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ product_i ┆ product_c ┆ product_n ┆ product_d ┆ … ┆ product_w ┆ product_l ┆ product_h ┆ product_ │
│ d         ┆ ategory_n ┆ ame_lengh ┆ escriptio ┆   ┆ eight_g   ┆ ength_cm  ┆ eight_cm  ┆ width_cm │
│ ---       ┆ ame       ┆ t         ┆ n_lenght  ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ i64       ┆ i64       ┆ i64       ┆ i64      │
│           ┆ str       ┆ i64       ┆ i64       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1e9e8ef04 ┆ perfumari ┆ 40        ┆ 287       ┆ … ┆ 225       ┆ 16        ┆ 10        ┆ 14       │
│ dbcff4541 ┆ a         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ed26657ea ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 517…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 3aa071139 ┆ artes     ┆ 44        ┆ 276       ┆ … ┆ 1000      ┆ 30        ┆ 18        ┆ 20       │
│ cb16b67ca ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 9e5dea641 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ aaa…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [94]:
product.select(
    pl.all().null_count()
).transpose(include_header=True)

shape: (9, 2)
┌────────────────────────────┬──────────┐
│ column                     ┆ column_0 │
│ ---                        ┆ ---      │
│ str                        ┆ u32      │
╞════════════════════════════╪══════════╡
│ product_id                 ┆ 0        │
│ product_category_name      ┆ 610      │
│ product_name_lenght        ┆ 610      │
│ product_description_lenght ┆ 610      │
│ product_photos_qty         ┆ 610      │
│ product_weight_g           ┆ 2        │
│ product_length_cm          ┆ 2        │
│ product_height_cm          ┆ 2        │
│ product_width_cm           ┆ 2        │
└────────────────────────────┴──────────┘

In [95]:
product_name = pl.read_csv(
    source = "dataset/product_category_name_translation.csv"
)
product_name.head(2)

shape: (2, 2)
┌────────────────────────┬───────────────────────────────┐
│ product_category_name  ┆ product_category_name_english │
│ ---                    ┆ ---                           │
│ str                    ┆ str                           │
╞════════════════════════╪═══════════════════════════════╡
│ beleza_saude           ┆ health_beauty                 │
│ informatica_acessorios ┆ computers_accessories         │
└────────────────────────┴───────────────────────────────┘

In [96]:
product_name = product_name.with_columns(
    pl.col("product_category_name")\
        .str.replace_all('_',' ')\
        .str.to_titlecase()
)

In [97]:
product_name.write_csv(
    "dataset_limpo_para_analise/olist_products_name.csv" 
)

####

#### limpeza para location(olist_geolocatoin)

In [98]:
geolocation = pl.read_csv(
    source = "dataset/olist_geolocation_dataset.csv",
    infer_schema=False
)

In [99]:
geolocation['geolocation_city'].unique().to_numpy().tolist()

['duere',
 'monte alegre dos campos',
 'simao pereira',
 'igarape do meio',
 'fazenda vilanova',
 'maximiliano de almeida',
 'maetinga',
 'rj',
 'mirandópolis',
 'santa rita',
 'reserva do iguaçu',
 'brazlandia',
 'piedade dos gerais',
 'barra do jacuipe',
 'augustinopolis',
 'acu',
 'luziapolis',
 'caseara',
 'barra dos coqueiros',
 'lagoa do sitio',
 'sao jose de mipibu',
 'estação cocal',
 'pauini',
 'sao joao das duas pontes',
 'nova milano',
 'croata',
 'sao benedito da cachoeirinha',
 'brejo do piaui',
 'roseira',
 'ichu',
 'guapore',
 'cacimbinhas',
 'jussara',
 'poco fundo',
 'vista alegre',
 'candeias',
 'itambacuri',
 'santana do ipanema',
 'brazlândia',
 'jau',
 'matinha',
 'santa rosa de goias',
 'uniflor',
 'miraí',
 'cachoeira',
 'água fria',
 'aliança do tocantins',
 'passa tempo',
 'ibirapitanga',
 'casa nova',
 'vitória das missões',
 'coração de jesus',
 'jeremoabo',
 'nova santa rosa',
 'três barras',
 'zortéa',
 'pimenteiras',
 'luiziania',
 'guzolândia',
 'marituba',
 'amanhece',
 'catigua',
 'candido rodrigues',
 'brejo de areia',
 'casca',
 'pitangueiras',
 'patos',
 'sao goncalo do sapucai',
 'rosário do ivaí',
 'itatiba do sul',
 'angical do piauí',
 'passo de camaragibe',
 'palhano',
 'sao vicente de minas',
 'agrolandia',
 'santana de parnaiba',
 'jaboatão dos gurarapes',
 'jaú',
 'novo horizonte do oeste',
 'três cachoeiras',
 'parati mirim',
 'sagres',
 'caseiros',
 'trairâo',
 'sao jose do piaui',
 'clevelandia do norte',
 'lavinia',
 'saquarema',
 'ribamar fiquene',
 'alenquer',
 'tucurui',
 'limoeiro',
 'porciuncula',
 'tamarana',
 'juvenilia',
 'sapeacu',
 'cacule',
 'maceio',
 'contagem',
 'sarandira',
 'senhora das dores',
 'tejucuoca',
 'loreto',
 'sao sebastiao da amoreira',
 'sao bras do suacui',
 'goiana',
 'ielmo marinho',
 'bonópolis',
 'poço verde',
 'pugmil',
 'santa cruz do sul',
 'vila nelita',
 'sao geraldo do araguaia',
 'recursolandia',
 'bom retiro',
 'vitoria brasil',
 'guareí',
 'divino das laranjeiras',
 'belmiro braga',
 'guaxupe',
 'brejo bonito',
 'madre de deus',
 'avelino lopes',
 'santa albertina',
 'santa fé de goiás',
 'monte alverne',
 'paraú',
 'nova módica',
 'prados',
 'rosário da limeira',
 'itamarati norte',
 'chopinzinho',
 'colonia leopoldina',
 'fortaleza dos valos',
 'santa isabel do para',
 'sao joao do caru',
 'xavantina',
 'são gabriel',
 'são miguel do fidalgo',
 'santa rita d oeste',
 'caarapo',
 'chiador',
 'linhares',
 'chale',
 'salto do lontra',
 'ilhota',
 'peabiru',
 'japoata',
 'vidigal',
 'elesbão veloso',
 'jacareí',
 'várzea da palma',
 'batatais',
 'itapuí',
 'sao manuel',
 'conceição da barra',
 'irupi',
 'tumiritinga',
 'são joão nepomuceno',
 'marilia',
 'edeia',
 'heitorai',
 'ouricuri',
 'vila bela da santíssima trindade',
 'icatu',
 'campo mourao',
 'icém',
 'porciúncula',
 'são domingos',
 'sao roque',
 'rio das ostras',
 'buriti',
 'sao bento do sul',
 'aracoiaba da serra',
 'itainópolis',
 'itaguaçu da bahia',
 'mantenópolis',
 'colonia',
 'nova iguaçu',
 'são sebastião do caí',
 'tapurah',
 'pancas',
 'catingueira',
 'jose goncalves de minas',
 'rebouças',
 'santo antonio do caiua',
 'coronel martins',
 'sao francisco do sul',
 'são miguel arcanjo',
 'piraí',
 'catunda',
 'engenheiro navarro',
 'ceres',
 'itaporã',
 'vila nova do sul',
 'esplanada',
 'alto paraíso de goiás',
 'caibaté',
 'joão monlevade',
 'quartel geral',
 'marechal floriano',
 'ibitiuva',
 'santo antônio da alegria',
 'lajedo do tabocal',
 'nova brasilandia doeste',
 'ibiquera',
 'pareci novo',
 'piedade',
 'jacunda',
 'sao silvestre',
 'comendador venancio',
 'itarantim',
 'antônio joão',
 'sao joao de itaguacu',
 'campo bonito',
 'ulianópolis',
 'manoel ribas',
 'canabrava do norte',
 'angra dos reis',
 'ribeiropolis',
 'axixa',
 'bela vista de goias',
 'são josé do itueto',
 'sao jose da tapera',
 'pinheiros altos',
 'campo grande do piauí',
 'angelim',
 'aparecida',
 'tenente ananias',
 'assaí',
 'santo antônio do rio abaixo',
 'barra do jacaré',
 'três rios',
 'iaçu',
 'candeias do jamari',
 'poxoreu',
 'queiroz',
 'santa maria da boa vista',
 'banabuiu',
 'sul brasil',
 'tocantinia',
 'serra de sao bento',
 'laranja da terra',
 'westfália',
 'cordeiropolis',
 'pedro gomes',
 'floreal',
 'ipiranga',
 'sao goncalo do rio das pedras',
 'santa helena',
 'paraguaçu paulista',
 'guaporanga',
 'sertao',
 'pulinopolis',
 'jaguaripe',
 'taua',
 'pacaja',
 'são luiz gonzaga',
 'galia',
 'são josé dos campos',
 'santa carmem',
 'olimpia',
 'são josé da bela vista',
 'tabapua',
 'japi',
 'vargem grande paulista',
 'otacilio costa',
 'goianésia do pará',
 'rochedo de minas',
 'santa fé',
 'mato castelhano',
 'brejoes',
 'araçatuba',
 "itaporanga d'ajuda",
 'ipirá',
 'carinhanha',
 'conceicao do capim',
 'monte alegre de goias',
 'alcantaras',
 'frei rogerio',
 'uruana',
 'ibate',
 'laguna carapã',
 'ventania',
 'esteios',
 'santa cruz cabrália',
 'união da serra',
 'hulha negra',
 'grão pará',
 'tome-acu',
 'mangabeira',
 'vitor meireles',
 'canindé de são francisco',
 'santa luzia do norte',
 'rondonopolis',
 'são sebastião do oeste',
 'são gabriel da palha',
 'antônio olinto',
 'califórnia',
 'sao francisco de assis',
 'santo augusto',
 'estrela doeste',
 'ipoema',
 'chacara',
 'sao jose da laje',
 'alagoinhas',
 'ituacu',
 'porto estrela',
 'tacuru',
 'tapes',
 'mondaí',
 'ibotirama',
 'registro',
 'ferreiros',
 'fernando pedroza',
 'balneario pinhal',
 'uruará',
 'penápolis',
 'santo antônio do amparo',
 'flor da serra do sul',
 'arapuá',
 'jóia',
 'cipolandia',
 'firminópolis',
 'lagoa real',
 'pajeu do piaui',
 'içara',
 'três pontas',
 'varjao de minas',
 'poco verde',
 'santana do mundaú',
 'xinguara',
 'passa tres',
 'prudêncio thomaz',
 'antonio dias',
 'salgado de sao felix',
 'macapá',
 'braganey',
 'são joão da ponte',
 'curralinhos',
 'corumbiara',
 'salesópolis',
 'espinosa',
 'maraba paulista',
 'arraial d ajuda',
 'mogi das cruzes',
 'pontal do araguaia',
 'bento fernandes',
 'sao vicente do sul',
 'guarapua',
 'beberibe',
 'jardim do mulato',
 'santana do deserto',
 'muriae',
 'ivoti',
 'linharesl',
 'nova casa verde',
 'castanheiras',
 'sandolândia',
 'boa esperança do iguaçu',
 'são joão do sul',
 'tianguá',
 'arembepe',
 'xanxerê',
 'mar vermelho',
 'guaicui',
 'cordilheira alta',
 "olho d'água das flores",
 'paranavai',
 'poco dantas',
 'querência',
 'umburatiba',
 'rio dos bois',
 'lunardelli',
 'engenho do ribeiro',
 'nucleo bandeirante',
 'monte das gameleiras',
 'nova boa vista',
 'cabeceiras do piaui',
 'nova esperança do piriá',
 'braganca',
 'camacari',
 'fontoura xavier',
 'paco do lumiar',
 'tabuleiro',
 'ribeirópolis',
 'marcolandia',
 'balneário barra do sul',
 'armacao de buzios',
 'porto ferreira',
 'glória do goitá',
 'cambuquira',
 'paulo jacinto',
 'são simão',
 'ivinhema',
 'guia de pacobaíba',
 'conceicao das pedras',
 'franco da rocha',
 'josenopolis',
 'tupanatinga',
 'sao joao da varjota',
 'mangaratiba',
 'pindaré-mirim',
 'santa ernestina',
 'barao ataliba nogueira',
 'icapuí',
 'francisco dumont',
 'sao pedro da uniao',
 'bossoroca',
 'luziânia',
 'agua nova',
 'aliança',
 'sao sebastiao do anta',
 'boa vista do burica',
 'santo antonio do taua',
 'ipanguaçu',
 'acará',
 'monte mor',
 'sao jose do cedro',
 'ituberá',
 'pirpirituba',
 'iraceminha',
 'damianopolis',
 'conceicao do para',
 'mirassolândia',
 'divisa alegre',
 'macatuba',
 'iguape',
 'união dos palmares',
 'alto alegre do maranhao',
 'caroebe',
 'santo antônio do aventureiro',
 'itapecerica',
 'dionísio',
 'ponte alta do bom jesus',
 'sao jose do torto',
 'julio de castilhos',
 'indiaroba',
 'simplício mendes',
 'embauba',
 'venha-ver',
 'taquaral de goiás',
 'matelandia',
 'alegrete do piauí',
 'itumbiara',
 'amaral ferrador',
 'ibipora',
 'santa luzia do itanhy',
 'cajuri',
 'bodoco',
 'gaspar',
 'otavio rocha',
 'paranatama',
 'barbosa',
 'vinhatico',
 'bernardino batista',
 'bela vista do toldo',
 'belmonte',
 'capao da canoa',
 'fatima do sul',
 'são luiz do paraitinga',
 'nova iguacu de goias',
 'nova esperanca do piria',
 'santa terezinha de minas',
 'itamarati de minas',
 'pipa',
 'porto nacional',
 'alexandrita',
 'campestre de goias',
 'santo antônio do jardim',
 'guarantã do norte',
 'muçum',
 'luiziânia',
 'perdizes',
 'caicó',
 'coqueiral',
 'riachao do bacamarte',
 'poxoréu',
 'tubarao',
 'ciriaco',
 'santa amélia',
 'paragominas',
 'nova itapirema',
 'paraguaçu',
 'claro dos pocoes',
 'adelandia',
 'gaviao peixoto',
 'cachoeira alegre',
 'claudia',
 'arambaré',
 'aracaju',
 'ilhéus',
 'votorantim',
 'martins guimaraes',
 'sao jose do vale do rio preto',
 'rio pomba',
 'sao rafael',
 'sao jose de uba',
 'timbaúba',
 'silvano',
 'nova alianca do ivai',
 'sucesso',
 'são joão do jaguaribe',
 'cabixi',
 'muaná',
 'pedro ii',
 'são félix do araguaia',
 'palestina',
 'bozano',
 'pacuja',
 'feira grande',
 'tarumã',
 'quixabá',
 'sao bento do trairi',
 'itau',
 'ramilândia',
 'capitao leonidas marques',
 'campo bom',
 'tauá',
 'nazário',
 "santa rita d'oeste",
 'bataypora',
 'alvinópolis',
 'garanhuns',
 'cláudia',
 'vitória',
 'ibiruba',
 'santo antônio do tauá',
 'nazaré da mata',
 'rio bonito do iguaçu',
 'aruanã',
 'pinhalzinho',
 'rio negrinho',
 'quissamã',
 'lagoa branca',
 'espigão alto do iguaçu',
 'novo planalto',
 'santa maria do pará',
 'santa rita do oeste',
 'são francisco de paula',
 'uruçuí',
 'cabaceiras do paraguaçu',
 'bonito',
 'guimaraes',
 'rochedo',
 'monte formoso',
 'quatis',
 'castanhal',
 'massaranduba',
 'tangará',
 'carmo do paranaíba',
 'bela vista do piauí',
 'murici',
 'patu',
 'cruz alta',
 'pitimbu',
 'medicilândia',
 'cardoso',
 'gloria do goita',
 'maceió',
 'sao geraldo',
 'fortim',
 'estrela da barra',
 'santo antônio do leste',
 'são joão de iracema',
 'sao francisco',
 'coroaci',
 'montadas',
 'campo maior',
 'paineiras',
 'santana do cariri',
 'bom jesus do tocantins',
 'querência do norte',
 'são josé dos quatro marcos',
 'montes claros de goias',
 'chapadinha',
 'prudentopolis',
 'ivaté',
 'seritinga',
 'nerópolis',
 'chapada dos guimarães',
 'coreaú',
 'itapuca',
 'taubaté',
 'uruana de minas',
 'luizlândia do oeste',
 'cha de alegria',
 'várzea branca',
 'maiauata',
 'lajes pintadas',
 'apuí',
 'luzerna',
 'nova ubirata',
 'são miguel do tapuio',
 'barreiras do piaui',
 'monte verde',
 'mongaguá',
 'brodowski',
 'ribeirao do largo',
 'são joaquim da barra',
 'montanhas',
 'matupa',
 'formosa do oeste',
 'candiota',
 'tamboril do piaui',
 'vila langaro',
 'ribeira',
 'mucurici',
 'boqueirao do leao',
 'sao goncalo do piaui',
 'uberlândia',
 'cambara do sul',
 'mamonas',
 'boninal',
 'timon',
 'bujaru',
 'nova fátima',
 'itaruma',
 'minaçu',
 'pindaí',
 'sao joao evangelista',
 'tambaú',
 'nossa senhora das graças',
 'taquarana',
 'xambrê',
 'touros',
 'ipiacu',
 'francisco alves',
 'agronômica',
 'parnaíba',
 'saudade do iguaçu',
 'sao domingos do azeitao',
 'junco do seridó',
 'nova gloria',
 'tocantins',
 'vila nova dos martírios',
 'raposos',
 'faxinalzinho',
 'teresópolis',
 'riacho dos cavalos',
 'currais novos',
 'rio casca',
 'nova aliança',
 'echapora',
 'aracoiaba',
 'porteiras',
 'itambé do mato dentro',
 'umbauba',
 'mâncio lima',
 'presidente lucena',
 'cunha porã',
 'rio de janeiro, rio de janeiro, brasil',
 'cianorte',
 'carapicuíba',
 'parelhas',
 'agronomica',
 'peruibe',
 'são joão do oriente',
 'valenca',
 'itapaje',
 'coelho neto',
 'tuneiras do oeste',
 'ipiranga de goias',
 'remigio',
 'davinópolis',
 'vila bela da santssima trindade',
 'lagoa nova',
 'sao joao do itaperiu',
 'lajeado novo',
 'condeúba',
 'veranópolis',
 'uauá',
 'jequitiba',
 'alcinópolis',
 'vespasiano correa',
 'dores de guanhaes',
 'varzelandia',
 'verê',
 'guaraíta',
 'catiguá',
 'marilândia do sul',
 'salto do jacui',
 'agua doce do norte',
 'brejinho',
 'areia de baraunas',
 'guaipora',
 'reserva do iguacu',
 'dom pedro de alcantara',
 'são luís de montes belos',
 "figueirópolis d'oeste",
 'são fidélis',
 'pacoti',
 'rincão',
 'patis',
 'jacupiranga',
 'canapolis',
 'irai',
 'sengés',
 'inhapim',
 'barracão',
 'rubiacea',
 'bocaina',
 'são francisco do oeste',
 'pilar',
 'chaval',
 'alcobaça',
 'lagoa do mato',
 'dois irmãos',
 'ipe',
 'piratininga',
 'piloezinhos',
 'santa cruz das palmeiras',
 'pariquera-açu',
 'sao valerio da natividade',
 'campo grande',
 'são geraldo',
 'tres irmaos',
 'guaxima',
 'exu',
 'joacaba',
 'conceição das pedras',
 'concórdia do pará',
 'ibiporã',
 'figueira',
 'maraã',
 '* cidade',
 'caicara',
 'monte alegre de goiás',
 'seabra',
 'divisópolis',
 'nova esperanca do sul',
 'primavera do leste',
 'ji-parana',
 'dona inês',
 'caconde',
 'sao fernando',
 'agricolândia',
 'porto de moz',
 'lamim',
 'cassilandia',
 'pitanga',
 'silvanópolis',
 'delfim moreira',
 'sao mateus',
 'santo antonio do monte',
 'bayeux',
 'getulândia',
 'guamaré',
 'urutaí',
 'sao pedro do butia',
 'turiacu',
 'mariano moro',
 'buique',
 'santo antonio do leite',
 'ipueira',
 'barra longa',
 'coaraci',
 'ladário',
 'itambaracá',
 'onca de pitangui',
 'são miguel da baixa grande',
 'padre fialho',
 'são francisco xavier',
 'senador canedo',
 'jaragua',
 'pontal do parana',
 'charqueada',
 'pocoes',
 'buri',
 'alcantara',
 'valparaíso de goiás',
 'piranguinho',
 'novo aripuana',
 'carabuçu',
 'pai pedro',
 'lagoa da confusão',
 'santa fe de minas',
 'limoeiro do norte',
 'praia norte',
 'lagoa salgada',
 'curiuva',
 'são josé da boa vista',
 'florida',
 'tapuirama',
 'sao sebastiao de campos',
 'imarui',
 'cocalzinho de goias',
 'santana do são francisco',
 'francisco badaro',
 'oliveira fortes',
 'monsenhor hipolito',
 'dois vizinhos',
 'porto vera cruz',
 'taquara',
 'cachoeira dos indios',
 'campos sales',
 'sao luis',
 'pirenopolis',
 'matão',
 'costa machado',
 'ibitiranga',
 'andradas',
 'quitandinha',
 'varzelândia',
 'afua',
 'missal',
 'altonia',
 'alcantil',
 'piquerobi',
 'marmeleiro',
 'buritizeiro',
 'maracai',
 'angélica',
 'aparecida de minas',
 'são félix de minas',
 'pindobacu',
 'conceicao do coite',
 'sao jose da lagoa tapada',
 'santa luzia',
 'parana',
 'perolandia',
 'sao pedro do sul',
 'são luís',
 'paula freitas',
 'nova timboteua',
 'tietê',
 'correntinho',
 'antonio pereira',
 'jaragua do sul',
 'perdões',
 'jaboticaba',
 'sebastião laranjeiras',
 'barra de são joão',
 'barbalha',
 'boca do acre',
 'cachoeira do piria',
 'américo brasiliense',
 'piracanjuba',
 'agudos do sul',
 'mineirolândia',
 'santa barbara do tugurio',
 'agrestina',
 'travessao',
 'itanhomi',
 'nova belem',
 'wagner',
 'iguai',
 'santa cecilia do pavao',
 'itaocara',
 'mairipotaba',
 'sao lourenco do sul',
 'são josé da coroa grande',
 'quaraí',
 'lupionopolis',
 'itaguara',
 'mamanguape',
 'apui',
 'serra dos aimorés',
 'cidreira',
 'varzedo',
 'riversul',
 'chácara',
 'macuco de minas',
 'chapada gaúcha',
 'rio paranaíba',
 'serra alta',
 'ouro verde de goias',
 'tacaratu',
 'santo antonio',
 'barreiro branco',
 'sanharó',
 'sao francisco do maranhao',
 'sete quedas',
 'cajamar',
 'luiz alves',
 'santo antonio de padua',
 'barra do garcas',
 'icapui',
 'diamante do norte',
 'torneiros',
 'cotiporã',
 'tejupá',
 'lagoa bonita do sul',
 'angustura',
 'jaraguá do sul',
 'piuma',
 'pedro avelino',
 'olimpio noronha',
 'tracunhaém',
 'sao joao do triunfo',
 'marilena',
 'maracaja',
 'guacui',
 'adhemar de barros',
 'dionisio',
 'eldorado do sul',
 'santa tereza de goiás',
 'nova soure',
 'santiago do sul',
 'chorozinho',
 'barra do quarai',
 'gameleiras',
 'abare',
 'jundiai do sul',
 'santo antonio do rio abaixo',
 'juvenília',
 'perola',
 'quilombo',
 'riacho fundo 2',
 'viradouro',
 'barra de guabiraba',
 'remanso',
 'pirassununga',
 'são leopoldo',
 'marechal deodoro',
 'porto real',
 'bh',
 'doutor severiano',
 'zortea',
 'ocaucu',
 'estrela dalva',
 'esperantinopolis',
 'marabá',
 'victor graeff',
 'jacareacanga',
 'barro alto',
 'bonfinópolis de minas',
 'santo antonio do retiro',
 'pouso alegre',
 'são joão da mata',
 'guaramiranga',
 'congonhas',
 'senador amaral',
 'divisopolis',
 'fortaleza dos nogueiras',
 'eugenio de castro',
 'cajuru',
 'bom jardim de minas',
 'presidente castelo branco',
 'botuvera',
 'siriri',
 'lagoa de dentro',
 'são miguel do gostoso',
 'ribeirão',
 'caraibas',
 'inconfidentes',
 'benfica',
 'boa vista das missoes',
 'santo antônio do aracanguá',
 'brasópolis',
 'avaré',
 'cantagalo',
 'riacho da cruz',
 'funilandia',
 'curionopolis',
 'sao jose',
 'ibicaraí',
 'são miguel do guaporé',
 'arantina',
 'venturosa',
 'monte santo de minas',
 'coromandel',
 'brasilândia de minas',
 'tapiramuta',
 'castelo dos sonhos',
 'taquarucu do sul',
 'tomar do geru',
 'são sebastião da vala',
 'iraporanga',
 'são josé do jacuípe',
 'aroeiras',
 'livramento de nossa senhora',
 'joão dourado',
 'são domingos do araguaia',
 'teixeirópolis',
 'itambé',
 'cocalinho',
 'presidente nereu',
 'nova rosalandia',
 'boraceia',
 'sertania',
 'belford roxo',
 'boca da mata',
 'nova araçá',
 'selbach',
 'volta redonda',
 'sério',
 'rio brilhante',
 'figueirópolis doeste',
 'xaxim',
 'urucânia',
 'palmares do sul',
 'sao jose do egito',
 'capão do cipó',
 'mato queimado',
 'cristianópolis',
 'solidao',
 'boa vista do tupim',
 'tubarão',
 'pirajuí',
 ...]